[2017-08-11 20:18] mkody opened #1 "KeyError: 5015"
I just got the key error after a battle. From the Ninty app and by looking at my json, the weapon with id 5015 is... Hero Dualie Replicas (`heromaneuver_replica` [from stat.ink](https://stat.ink/api-info/weapon2?_lang_=en-US)), which looks already listed with id 5040.
So, what is 5040?

[code]

Here's the value of `battledata`: https://gist.githubusercontent.com/mkody/d27602076b430e40ada6f34c8bfea

[2017-08-11 20:25] clovervidia commented on #1
I was wondering that myself when I saw that all the other replicas had an ID that was 5 + the ID of their base weapon. Someone probably fat-fingered something because I don't think 5040 is a weapon... yet. Good catch.

[2017-08-11 20:33] frozenpandaman commented on #1
Sorry for the trouble, @mkody! That someone was probably me...

Seems @clovervidia has fixed this in 71150bf so I'll close this for now.

[2017-08-11 20:33] #1 closed

[2017-08-21 13:36] blackgear opened #2 "Login with username & password"
Feel free to use my code: https://github.com/blackgear/NSOnline_Bot/blob/master/session_token.py

It shows how to get a vaild session_token with your username and password.

[2017-08-21 14:36] clovervidia commented on #2
This is very much appreciated. I figured out how to generate the redirect_uri but got stuck on how to log in through the console given username and password because of the captcha response in the POST.

[2017-08-21 14:54] blackgear commented on #2
In fact, you don't need to deal with the captcha, the _h parma is a hmac_sha256 of the request, you could see how it calculated in codes.

😄

[2017-08-21 17:55] frozenpandaman commented on #2
Wow, thank you for this! We've been working to figure this out over the past few days (though I've been a bit busy myself and haven't really gotten a chance to do much in the way of that). @clovervidia figured out a lot of the internals, including generating the final `session_token` from `/connect/1.0.0/api/session_token`, given the `session_token_code` found in the `npf71b963c1b7b6d119://` proto

[2017-08-22 08:39] blackgear commented on #2
I'm just rewrite a login module that figure out all this staff. Maybe I can add the PR in two days.

Also I should point out this line: https://github.com/frozenpandaman/splatnet2statink/blob/master/splatnet2statink.py#L24

the `x-unique-id` is a token in fact.

this unique-id is generated at: https://github.com/blackgear/NSOnline_Bot/blob/master/bot.py#L120

if you want to do more thing(order a g

[2017-08-22 15:16] clovervidia commented on #2
I also noticed that ID was in the source when I accessed SplatNet 2 from my browser, and that it was different than frozenpandaman's, but neither of us could figure out what it was for.  We didn't intend for this tool to be used for anything other than running in the background to upload battles to stat.ink as they happened, but it would probably be best if we obtained the user's unique ID rather

[2017-08-22 16:23] blackgear commented on #2
Now renamed my project to [NSOnline_API](https://github.com/blackgear/NSOnline_API)...

Just use the splatoon.get_results to pull the data.

NSOnline_API is a good wrapper that handles all login issues and network problems.

I think the PR should work but I had to go bed...

[2017-08-27 05:34] frozenpandaman commented on #2
Since you opened a related PR, #3, I'll move the conversation there and close this. :)

[2017-08-27 05:34] #2 closed

[2017-08-28 07:12] frozenpandaman opened #5 "IndexError in scoreboard creation"
[code]

in addition, scoreboard creation only checks if `mode` == `gachi` or `regular`/`fest`, not `league`

[2017-08-28 07:29] #5 closed

[2017-09-01 06:56] frozenpandaman opened #6 "scoreboard sometimes displays out of order"
## example 1
https://stat.ink/@frozenpandaman/spl2/40817

|      rank |  name      | k+a (a) | *hidden: k* | d | s | *hidden: `sort_score`* |
| ------ | ------- | ------- | ---------- | - | -- | ---------------------- |
| B- | eli                   | 12 (1)    | 11              | 3 | 0 | 0 |
| S+ | Verbz             | 10 (3)    | 7              | 0 | 5 | 0 |
| S+ | Zz                  | 10 (4)

[2017-09-01 08:38] #6 closed

[2017-09-02 12:17] mkody opened #9 "fails to set session_token and cookie at the same time when running in monitoring mode"
Splatfest only starts in 2 hours for me, weird that it passed `mode == 'fest'`

[code]

[2017-09-02 12:32] frozenpandaman commented on #9
Found the culprit…

https://github.com/frozenpandaman/splatnet2statink/commit/058876166638d8f02434c147b3efc4e8f437b251#diff-2215b58f10f3ed4fb0e9e35a03ccf764R474

Fixing. Thanks. :)

[2017-09-02 13:08] mkody commented on #9
Thanks!
That commit as also introduced this error now when using the monitor mode:
[code]

[2017-09-03 09:36] frozenpandaman commented on #9
@mkody,

I got this notification in my email, but it appears you've deleted the comment as I don't see it here:
![image](https://user-images.githubusercontent.com/7245874/30001889-7d10a882-9050-11e7-8b07-551480a045e0.png)

Are you still having this issue? Monitoring mode's working fine for me, but please try downloading the latest version and do let me know if you have any issues.

[2017-09-03 10:04] mkody commented on #9
I got this but I couldn't reproduce it later.

This is how it went:

- I did a `git pull`
- Start `python2 splatnet2statink.py -M`
- It asks for my stat.ink key, I give it (huh, did `config.txt` get overwritten to blank again?)
- Asks me to login, I give the "Use this account" link back
- And then this error happen
- Starting again `python2 splatnet2statink.py -M`
- UnboundLocalError again
- Start

[2017-09-03 10:18] frozenpandaman commented on #9
I was able to reproduce it. Interesting…

Using a blank config.txt, immediately running it with `-M` seems to return the error immediately after printing out "Wrote session_token to config.txt." So, the cookie is not being set. Running the exact same command again generates and sets the cookie in config.txt ("Wrote iksm_session cookie to config.txt.") but then immediately throws the error again. R

[2017-09-03 10:52] frozenpandaman commented on #9
Hm, something weird on Nintendo's end – `load_json()` is returning the wrong data, since accessing https://app.splatoon2.nintendo.net/api/results immediately after setting the session_token and cookie gives a `{'code': 'INTERNAL_SERVER_ERROR'}` (instead of displaying the json data) for some reason.

[2017-09-03 11:30] frozenpandaman commented on #9
Should be fixed in 5508aab! It behaves differently when you haven't battled online before (i.e. when I was generating tokens using a test account 😉 ) so that was adding some complications in trying to diagnose the issue…

Anyway, I'm hoping the only time line 175 will fail (and reach the except block) is indeed when you haven't played online before (as the print statement says). If you're getting

[2017-09-03 11:30] #9 closed

[2017-09-07 01:09] Tiryoh opened #10 "Which license do you apply for this repository?"
Dear @frozenpandaman ,

Thank you for your great work!
I love this software.

I would like to contribute to this repository, so could you apply a license for this repository?
https://help.github.com/articles/licensing-a-repository/

[2017-09-07 01:23] Tiryoh commented on #10
I think

* MIT license
* BSD license
* Apache license

are simple and great for this repository.

[2017-09-07 01:28] frozenpandaman commented on #10
@Tiryoh, thanks! I had thought about it some but haven't applied one yet. I'll look into it tonight, in a few hours, and get back to you. (MIT is simple and permissive, which I think is good. GPL is enticing as well though since I would like others to open-source any projects based on this. And I'll have to read more about exactly what BSD and Apache entail.)

[2017-09-07 05:11] frozenpandaman commented on #10
Added the GPLv3 license in 8923eec. :) Please feel free to reach out if you have any feedback, further questions, etc.!

[2017-09-07 05:11] #10 closed

[2017-09-07 05:20] Tiryoh commented on #10
Thanks! ;)

[2017-09-07 15:10] IceFlinger opened #12 "Turf inked for ranked battles?"
Seems like your turf inked amount doesn't get sent to stat.ink when playing ranked battles.

[2017-09-07 15:16] clovervidia commented on #12
I'm not sure if stat.ink shows turf coverage for ranked battles, but it would be a simple fix if it does.

[2017-09-07 15:29] clovervidia commented on #12
That should do it.

[2017-09-07 15:29] #12 closed

[2017-09-07 16:25] IceFlinger commented on #12
Thanks!

[2017-09-28 03:14] frozenpandaman commented on #6
out of order:
* https://stat.ink/@frozenpandaman/spl2/103655
* https://stat.ink/@frozenpandaman/spl2/116470

[2017-10-01 12:27] mkody opened #18 ""Invalid token." error from Nintendo"
I can't use the script anymore and get this error:

[code]

I tried to delete my `config.txt` and re-login, tried to logout from the browser then login first on mobile and then again from the browser, still getting this error.

[2017-10-01 12:29] mkody commented on #18
I haven't played since last Splatfest, so dunno when it could have gone wrong.
Currently on d19c158

[2017-10-01 12:32] frozenpandaman commented on #18
Hi @mkody,

Yup, this is a known issue that was unfortunately introduced in the latest app update, and affects _all_ scripts/programs/websites interfacing with information from SplatNet 2. Please see the readme:

The problem is that `session_token`s cannot be used to generate `iksm_session` cookies anymore without sending another parameter alongside it – and this parameter is only able to be gener

[2017-10-01 12:47] mkody commented on #18
Oh welp, didn't see that (it's far in the bottom of the readme, tho). Thanks!

[2017-10-01 12:53] frozenpandaman commented on #18
Yeah, we (along with some others who are working on similar stuff) were hoping to find a solution or a way to generate the newly-introduced `f` token but not really having much luck. I'll talk with @clovervidia tomorrow about changing up the I/O since, by this point, the need for the mitm instructions (unfortunately) seems more than temporary.

[2017-10-01 12:53] #18 closed

[2017-10-12 04:30] Tiryoh opened #19 "Battle count is not working correctly"
All battle results are numbered 1 when I run the script with option `-r`.
Perhaps something wrong with splatnet2statink or stat.ink?

I can check the battle results on stat.ink correctly, so there are no problem for uploading.
Only the number of the battles seems to be not correct.

[code]

[2017-10-12 06:32] mkody commented on #19
Well, it's _normal_ since it's only uploading one battle at every checks.
But it's supposed to not display that counter in monitoring mode.
https://github.com/frozenpandaman/splatnet2statink/blob/master/splatnet2statink.py#L817-L820

[2017-10-12 07:26] Tiryoh commented on #19
@mkody,

Those 11 battles are recent battles, not real time battles detected on monitoring mode.
(I hadn't run the script for a while, so there were a few un-uploaded battles.)
I ran the script with `-r` option, so I guess this https://github.com/frozenpandaman/splatnet2statink/issues/19#issue-264810832 was written by this code.
https://github.com/frozenpandaman/splatnet2statink/blob/d19c158c0b80f

[2017-10-12 07:41] frozenpandaman commented on #19
Thanks for bringing this up @Tiryoh.

The reason why they're all "#1" is because of
https://github.com/frozenpandaman/splatnet2statink/blob/d19c158c0b80fa3c43e1d7d71d80c941ae2c641e/splatnet2statink.py#L273

We should be able to fix this shortly. :)

And you are correct in responding to @mkody's comment – since it's retroactively uploading the battles (not real-time as they come in), i.e. not actua

[2017-10-12 07:43] frozenpandaman commented on #1
^ Haha, whoops...

[2017-10-12 07:43] frozenpandaman commented on #19
Thanks for bringing this up @Tiryoh.

The reason why they're all `#1` is because of
https://github.com/frozenpandaman/splatnet2statink/blob/d19c158c0b80fa3c43e1d7d71d80c941ae2c641e/splatnet2statink.py#L273

We should be able to fix this shortly. :)

And you are correct in responding to @mkody's comment – since it's retroactively uploading the battles (not real-time as they come in), i.e. not actua

[2017-10-12 08:19] Tiryoh commented on #19
@frozenpandaman,

Thank you for your explanation.
I think I understand the situation.
Is there anything I can help you with?

[2017-10-12 08:26] frozenpandaman commented on #19
I'm heading to bed right now so I think I'm good (but thank you!) – unless @clovervidia has anything. It shouldn't be too hard of a fix. :)

[2017-10-12 13:58] clovervidia commented on #19
I have a few ideas on fixing this, so I think we have it covered. It's all about the battle numbers and when they should and shouldn't be shown.

[2017-10-13 04:59] Tiryoh commented on #19
I see, I'm looking forward to the update!

[2017-10-14 02:15] clovervidia commented on #19
I changed the way previously unuploaded battles are handled now, and it should print the same as a battle uploaded through monitor mode, just without the results and time. Let me know if there's any further problems.

[2017-10-14 02:20] frozenpandaman commented on #19
Lol I guess that works. Not *technically* monitoring mode (as discussed above) per my working definition of it but it does fix the issue and makes the print statements cleaner there. 👍

Made a non-issue in b5bcd98. Closing for now.

[2017-10-14 02:20] #19 closed

[2017-12-05 23:13] frozenpandaman commented on #6
https://stat.ink/@mak4026/spl2/231416

[2017-12-11 17:39] frozenpandaman commented on #6
* https://stat.ink/@frozenpandaman/spl2/116448 / https://stat.ink/@into_the_trash/spl2/116447

|                      | `nickname` | `player_rank` | `udemae` (`name`) | `star_rank` | `sort_score` | `kill_count` | `assist_count` | `death_count` | `special_count` | `game_paint_point` |
|----------------------|------------|---------------|-------------------|:-----------:|--------------|-------------

[2017-12-11 18:46] frozenpandaman commented on #6
* https://stat.ink/@frozenpandaman/spl2/103655
* https://stat.ink/@frozenpandaman/spl2/116470
* https://stat.ink/@mak4026/spl2/231416
* https://stat.ink/@mak4026/spl2/231423

[2017-12-12 02:03] frozenpandaman commented on #6
Still out of order with the new changes:

* https://stat.ink/@frozenpandaman/spl2/242243

[2017-12-12 07:24] frozenpandaman commented on #6
https://stat.ink/@frozenpandaman/spl2/242323 proves k+a is second (after `sort_score` – which is 0 for everybody)

[2017-12-12 07:41] frozenpandaman commented on #6
24 permutations --> 12 after removing rightmost k or a in each row and resolving dupes (because once sorted by k+a and k, sorting by a does nothing; similarly with k+a and a, and then k)

[ ] sort_score, k+a, k, d, s
[ ] sort_score, k+a, k, s, d
[ ] sort_score, k+a, a, s, d
[ ] sort_score, k+a, a, d, s
[ ] sort_score, k+a, d, k, s
[ ] sort_score, k+a, d, a, s
[ ] sort_score, k+a, d, s, k
[ ] sort_

[2017-12-12 07:43] frozenpandaman commented on #6
we know first two. then, 24 permutations of 4 (k, a, d, s) → 12 after removing rightmost k or a in each row and resolving dupes (because once sorted by k+a and k, sorting by a does nothing; similarly with k+a and a, and then k)

- [ ] sort_score, k+a, k, d, s
- [ ] sort_score, k+a, k, s, d
- [ ] sort_score, k+a, a, s, d
- [ ] sort_score, k+a, a, d, s
- [ ] sort_score, k+a, d, k, s
- [ ] sort_score

[2017-12-15 16:39] emaame opened #22 "Failure to handle (null rank) in private match"
Since I have never played "ガチアサリ" , my udemae is null rank.
Then I played "ガチアサリ" in Private match, splatnet2statink.py failed to handle it.

[code]

I think lower should go to try clauses, not else.
It seems that getting `results[i]["player_result"]["player"]["udemae"]` doesn't raise Exception.

[code]

It works in my records.

thanks.

[2017-12-15 17:20] clovervidia commented on #22
Do you happen to have the JSON file for that battle from SplatNet 2? I'd like to run a few tests, as this would be the first time they've added a new game mode so it's possible some people won't have a rank for it at all when played in a private battle. If you don't know how to get the JSON, I can walk you through the process if you have your iksm_session cookie from the config.txt file.

[2017-12-15 19:12] frozenpandaman commented on #22
Ughhhhh... have tried to fix this a number of times now and seems the logic is still a bit off. Sorry @emaame. That makes sense, it can't `.lower()` the null `rank_before`. Setting `rank_after` first is smart.

Here's one of the iterations of what we tried before that also didn't completely work:
https://github.com/frozenpandaman/splatnet2statink/blob/2508c197d2e7c63e9f258244b0e303d5a72fd684/splat

[2017-12-15 19:18] frozenpandaman commented on #22
Let me know if 80cd153 (v0.2.9) fixes it!

[2017-12-16 04:10] emaame commented on #22
Thank you!
I'll try to get raw JSON.
And I check a new one.

[2017-12-16 04:33] emaame commented on #22
1. `80cd153`
`80cd153` works correctly!!
Thank you!!

2. JSONs
[null_rank_jsons_20171216.zip](https://github.com/frozenpandaman/splatnet2statink/files/1564498/null_rank_jsons_20171216.zip)

I got raw JSONs of private matches with proxy.
It still be not anonymized.

[2017-12-16 04:36] frozenpandaman commented on #22
Yay, awesome! 😄

[2017-12-16 04:36] #22 closed

[2017-12-16 04:38] clovervidia commented on #22
I appreciate the JSONs. If you want, you can remove the file from the comment to keep them out of the wrong hands.
And as a side note, I recently worked on anonymizing the payload, so if you want to anonymize it, you just need to go through the two arrays with players (`my_team_members` and `other_team_members`) and remove/replace the `nickname` and `principal_id` for each player as those are what

[2017-12-16 04:46] frozenpandaman commented on #22
`principal_id` is unique for every user but there's no way of finding out who it is just from that (only that, between multiple battles, a player may be the same person.) It's not exactly identifiable information, and leaving it in would make the data de-identifiable, (compared to anonymized). We've set the script up to remove both, though,

[2017-12-16 07:55] emaame commented on #22
Nice.  I'm so glad to your rapidly responses.
I just removed JSONs.

[2017-12-17 17:32] Tiryoh opened #23 ""pip install pillow" is required even without "-s" option"
I got an error like this on version https://github.com/frozenpandaman/splatnet2statink/commit/abc070e4e37ed2cbff11f1d70db924c120e7960d.
[code]

`pip install pillow` solved this problem, so I assume that `pip install pillow` is required.

[2017-12-17 17:45] frozenpandaman commented on #23
Oh lol I'm dumb. Thanks @Tiryoh. :)

PIL/Pillow is only used with the `-s` flag so as of dffc9a0 I've conditionally imported it. Now this probably isn't good Python style (but hey, it is allowed) but I'd really like to not force users to install it if they don't need it… and it's only needed in a case that I don't think most people use. (2 dependencies to install by hand is OK, but 3 is getting to

[2017-12-17 17:45] #23 closed

[2017-12-18 10:43] Tiryoh commented on #23
@frozenpandaman
I got it.  Thanks for your support!

[2018-01-06 04:40] martinemde opened #26 "Tabs => Spaces?"
My editor is rather annoying about this [W191 Indentation contais tabs](https://docs.quantifiedcode.com/python-anti-patterns/correctness/indentation_contains_tabs.html), highlighting every line and tab in the whole file and refusing to indent with tabs as I work.

I realize tab/space is practically a religious war, and I'm suggesting only at *gives-a-shit-level* of 1 out of 10.

I can shut off vim

[2018-01-06 05:14] frozenpandaman commented on #26
I know @clovervidia and I both prefer using tabs. And while I do love style guidelines, I love my tab key more. （●＾o＾●）

So I think we'll stick with tabs for now, if that's OK! 😆

[2018-01-06 05:14] #26 closed

[2018-01-06 19:23] martinemde commented on #26
No problem, I'll set up my editor to make it less annoying :+1:

[2018-01-07 09:19] frozenpandaman commented on #26
Glad you'll be able to find a solution! :)

[2018-01-15 18:14] martinemde opened #30 "Uploading previously un-uploaded battles sometimes uploads very old battles"
I have now seen this problem.

When I ran this script with only -r, it started uploading battles that were beyond the last 50 according to Stat.ink at the time. It seems like I had some duplicates that leaked into stat.ink at first, which broke the 50 offset from stat.ink, causing the oldest battles to be duplicated at the top.

I'm not sure what started this offset initially. Something caused a d

[2018-01-15 18:22] clovervidia commented on #30
What do you mean SplatNet returns battles that are more than 50 battles old? Are you saying sometimes it returns more than 50 battles?

[2018-01-15 18:37] martinemde commented on #30
@clovervidia I updated my comment. That's what it looked like at first because Stat.ink showed the battles being duplicated as my 62-58th battles. However, the offset on Stat.ink seems to have been broken by other duplicates.

It's still occurring actually even after I deleted the duplicates. I'm still investigating why.

[2018-01-15 18:46] clovervidia commented on #30
I think I see what you're saying now about the offset. I usually upload my latest battle multiple times if I'm testing something, which could cause stat.ink's list of battle numbers to push old battles off the end which are still in SplatNet.

Do you think increasing the number of battles stat.ink returns to something like 75 or 100 could solve this? It would add some overlap to cover for duplicat

[2018-01-15 18:55] martinemde commented on #30
It seems like that would fix it, but we'd need @fetus-hina to update stat.ink to allow it. [API Docs](https://github.com/fetus-hina/stat.ink/blob/master/doc/api-2/get-battle.md)

[2018-01-15 18:56] martinemde commented on #30
I think I caused my original problem by running -M locally, while having my script overlap. Since -M doesn't repeatedly check Stat.ink, any battles that are uploaded separately added after the monitoring sessions started would be duplicated.

[2018-01-15 19:09] clovervidia commented on #30
When I ran into the issue, I ran it locally with -M and -r to pick up a battle that finished before I started the script. Checking stat.ink after each battle might be a solution, but it might also be taxing on their servers. Duplicate battles do seem to be a theme here.

I can talk to them about increasing the number of battles that get returned to see if it's reasonable, or if 50 itself reaches s

[2018-01-15 20:25] fetus-hina commented on #30
As a developer of stat.ink:

- Client gets more data (e.g. 75-100 SplatNet's `number`s)
    - I can update it (up to 100 or 200 battles) and this way is easy.

- Statink skips register an "old" battle
    - Although it is technically possible, I don't think I want to do it aggressively at this time.

- Statink supports to check by a client
  - I can implement it (it may be enhancement of exist met

[2018-01-16 10:09] frozenpandaman commented on #30
This was happening for me without duplicates on stat.ink. (Unlike @clovervidia I have no duplicates on my stat.ink.)

@martinemde, what do you mean by "offset"?

Anyway, this doesn't seem to be an issue for me anymore/at the moment (unless I were to maybe fool around with deleting battles on stat.ink to try and reproduce it), but I think this is the reason it happened for me before:

1. Uploaded b

[2018-01-16 18:26] martinemde commented on #30
Would it make sense for stat.ink to support a `unique` option that would reject uploads for battles that already exist? Then nothing changes for anyone that doesn't choose to change it and we avoid the race condition.

Receiving the last 100 battle numbers is also simple and makes the problem much less likely.

I really don't think this is a common issue. It also cannot be completely new since the

[2018-01-16 18:41] clovervidia commented on #30
I believe that's already possible if we calculate and set a UUID. Our script doesn't do this currently, but if it were set, based on the API docs for stat.ink, the server would reject later battles that have the same UUID as a previously uploaded one. It does mention a time period that the server checks for duplicate UUIDs, and I'm not sure how long that is, as it could be a few minutes, a few hou

[2018-01-16 20:59] fetus-hina commented on #30
Stat.ink's `uuid` field currently checks duplicates for 24 hours (86400 seconds) at this time. (If client provide it)
https://github.com/fetus-hina/stat.ink/blob/611f648da92c697a1bd2ee44bb3a9933585e27ac/models/api/v2/PostBattleForm.php#L45

BTW, I use `-r` flag without `-M` flag.
I was set a cron task this script to my Linux VPS server: (and my account have no duplicated battles)
[code]

[2018-01-17 05:55] clovervidia commented on #30
24 hours sounds like a reasonable time frame to catch duplicates in case a user agent uploads the same battle multiple times due to a network error or some other condition preventing it from uploading. However, since this issue seems to occur when the agent is run multiple days apart, I don't think it will help here.

I think I see what @martinemde is suggesting now. Setting a flag in the payload

[2018-01-17 07:09] fetus-hina commented on #30
As for a [`GET /api/v2/(?:user-)?battle` request with `only=splatnet_number`](https://github.com/frozenpandaman/splatnet2statink/blob/59ab88049afe3e5b6e74bb55eb378899881a94dc/splatnet2statink.py#L287), it sounds good to me.
It works well in case of users switch their client like "SquidTracks to splatnet2statink", the uuid field is not compatible because it generates by client.

[2018-01-17 10:58] fetus-hina commented on #30
I have updated API spec and its implementation. Now clients can get `splatnet_number`s up to 1000.
[Example: Get 100 battles](https://stat.ink/api/v2/battle?screen_name=fetus_hina&count=100&only=splatnet_number)

Depending on the outcome of this discussion, I'll implement more things if needed.

[2018-01-17 11:06] frozenpandaman commented on #30
Awesome, thank you @fetus-hina!

[2018-01-17 11:16] frozenpandaman commented on #30
Thanks @fetus-hina! Good note about the UUID field.

We'll change the `count` URL parameter to 100 for now, then, at the line you linked to. 🙂

Like your example, the using the [`/v2/battle` URL](https://stat.ink/api/v2/battle?screen_name=frozenpandaman&count=100&only=splatnet_number) will return 100 battles. But when I try with the [`/v2/user-battle` version](https://stat.ink/api/v2/user-battle?o

[2018-01-17 11:27] fetus-hina commented on #30
Oh, sorry. Fix it soon.

[2018-01-17 11:28] frozenpandaman commented on #30
No rush. Thanks! 😊

[2018-01-17 11:41] fetus-hina commented on #30
Fixed it

[2018-01-17 11:44] frozenpandaman commented on #30
Looks good! I've staged the changes to update `50` to `100` in the URL, which should realistically cover our bases based on previous discussion. I want to do a final check with @clovervidia before I push to confirm that this sounds good, or if anyone has other input/feedback as well.

[2018-01-17 16:04] martinemde commented on #30
This seems like an easy fix and it’ll solve the problems I’m aware of. Thanks everyone.

As for the UUID, it makes a lot of sense to send that just to help with network issues. It’s awesome that your API supports this @fetus-hina. I don’t often see idempotency keys in APIs and I wish more APIs would do this.

It looks like UUIDv3 could support generating the same uuid given the same input. We coul

[2018-01-17 16:20] clovervidia commented on #30
I was thinking of using some combination of the battle ID, time the battle started, and maybe turf inked, since you can reliably get these three from any mode. I don't think it's necessary since we check the battle IDs on stat.ink against the 50 that SplatNet provides us to avoid duplicates, but I also don't see the harm in implementing it as a precaution should a similar issue come up again.

At

[2018-01-19 11:05] frozenpandaman commented on #30
Info for consideration

- UUIDs are unique per user (i.e. not globally unique)
- @fetus-hina suggests UUID = principal_id + battle number
  - if user loses Switch or save file, can keep uploading using same stat.ink account

[2018-01-19 12:01] fetus-hina commented on #30
I suggest a bit more:

- Use UUID v5 (SHA-1 based UUID) with namespace `73cf052a-fd0b-11e7-a5ee-001b21a098c2`
  - I generated this NS UUID now and defined it as "SplatNet 2 based record."
- The UUID generated from `principal_id` and `battle_number`.
  - The format is `battle_number@principal_id`, e.g. `42@abc123`
    - We'll get a UUID "`666cdcb7-aad2-5bc6-bb02-940d2c2f8301`" in this case.

If we

[2018-01-19 12:18] frozenpandaman commented on #30
Cool, thanks for expanding on that. I was talking with @clovervidia earlier about generating a UUID based on those two values – he mentioned that hashing seemed unnecessary to him, but we didn't come to any decision yet. I'm not super well-versed in this area either – what benefit would doing it the way you suggested provide? Just ensures true uniqueness based on those two values? And is that name

[2018-01-19 13:12] fetus-hina commented on #30
1. Stat.ink accept any string as `uuid`, but it **always** stores as well-formed UUID.
    - If given UUID is not valid, stat.ink will [convert it to UUID](https://github.com/fetus-hina/stat.ink/blob/7b3242cf767f9929d7e1eaa7b1abdea87359ce76/models/Battle2.php#L491-L504). Because the column defined as [`uuid` data type](https://www.postgresql.org/docs/10/static/datatype-uuid.html) in our DB.

[2018-01-19 13:29] frozenpandaman commented on #30
This completely makes sense. Thank you for taking the time to explain! Cool method...

I'm definitely in favor of doing it this way, then.

[2018-01-20 08:03] frozenpandaman commented on #30
Implemented UUIDs and increased number of recent battles checked to 100 in 0a962a0.

[2018-01-20 08:03] #30 closed

[2018-01-23 06:30] frozenpandaman opened #32 "when uploading duplicate, don't redirect and check for 302 response"
currently prints out duplicate battle URL in conditional (post -> if get an error accessing `location` header -> if 200 response = can access URL, we've been redirected to the right one / else 4xx generic error)
https://github.com/frozenpandaman/splatnet2statink/blob/0a962a0e641fc87e0cb59d59e7c7196533393c11/splatnet2statink.py#L1016

instead, don't redirect (`requests.post('URL', allow_redirects=F

[2018-01-28 09:23] frozenpandaman commented on #32
fixed in 62495eb

[2018-01-28 09:23] #32 closed

[2018-02-03 00:32] martinemde opened #33 "Fetch weapons from https://stat.ink/api/v2/weapon ?"
Is it worth fetching the weapons and stages from the api to avoid the weekly updates that are required?

The obvious downside is that the api response is huge. It could be trimmed down to only the number and word with help from @fetus-hina.

[2018-02-03 03:51] clovervidia commented on #33
I've considered it a few times, but I thought it might be making too many requests to stat.ink. Supposing we did hit the stat.ink endpoint to update the local database regularly, say every few days or so, do you think we should update the dbs.py file with the new weapons and stages, or do it some other way? I haven't worked with file manipulation much so I'm a little concerned about the other thin

[2018-02-28 04:18] 0ffkilter opened #35 "don't worry about this"
https://github.com/frozenpandaman/splatnet2statink/blob/543d9137fd2d113c79d90ebd11bde32f31a426de/dbs.py#L7

test

[2018-02-28 04:19] #35 closed

[2018-02-28 04:35] frozenpandaman commented on #33
Would it fetch every time the script runs, though? Or how would we control that, &c? The vast majority of the time someone runs the script there will be no new weapons/updates, and having an updating mechanism rely on an external site/database adds a sort of bulk to the project (at least conceptually, or for me). Also we usually update before stat.ink and it's nice to be able to update/control the

[2018-02-28 04:35] #33 closed

[2018-03-05 01:38] martinemde commented on #33
That all makes sense. Thank you

[2018-03-11 00:59] frozenpandaman opened #37 "battle count is sometimes wrong"
[code]

[code]

[2018-03-11 09:30] frozenpandaman commented on #37
Made a (hopeful) fix. Will find a way to test it tomorrow…

[2018-03-16 09:37] frozenpandaman commented on #37
issue was also with regular battle count…
[code]

cause was capitalization issue:
https://github.com/frozenpandaman/splatnet2statink/blob/941ee52542db630ea9e3dcf6785e8c7dcc25d7e2/splatnet2statink.py#L377
(we do it this way instead of a bool because we print out the variable later)

fixed in f7c58a9:
https://github.com/frozenpandaman/splatnet2statink/blob/f7c58a957f882bf75a8b9047ff67de01caf9acd8/sp

[2018-03-16 09:37] #37 closed

[2018-03-16 11:27] frozenpandaman opened #38 "Python 2/3 compatibility"
(See #28, #29 for some previous discussion.)

Let's work to support Python 3.x too, while not leaving 2.7.x users behind. This is important as Python 2.7 comes preinstalled on macOS and we want to make it easy for these users to run the script, even if they don't feel comfortable upgrading or working on the command line.

I've created the [`python3`](/frozenpandaman/splatnet2statink/tree/python3)

[2018-03-17 00:18] martinemde commented on #38
Seems to work so far. I'll update if I see any problems. I'm going to run one of my instances with 2.7 and one with 3.6 with the same code.

[2018-03-19 03:36] martinemde commented on #38
Working fine on python3. Haven’t been able to test 2.7 fully yet but seems fine.

[2018-03-20 02:39] KunoichiZ opened #39 "Can't seem to get iksm_session token from SplatNet 2"
Hi, I'm trying to following the instructions [here](https://github.com/frozenpandaman/splatnet2statink/wiki/mitmproxy-instructions) for obtaining my iksm_token and after entering my computer's IPv4 and the port as mentioned in Step 4, upon going to Step 5, my phone (iPhone SE, iOS 10.3.2) doesn't load http://mitm.it nor does it load the SplatNet 2 app. Safari tells me "Safari could not open the pa

[2018-03-20 12:06] Lnk2past commented on #39
Hey @KunoichiZ,

Double check that you are using the _right_ IPv4_. Depending on you hardware and what other pieces of software that are installed, you may have multiple IPv4 entries. I had a similar issue because I was giving it the wrong IPv4 due to a Docker installation that setup its own IPv4 interface (and I just wasn't paying attention to it).

Not sure if that helps, but it is what worked f

[2018-03-20 12:14] Lnk2past commented on #38
Is it worth using [six](https://pythonhosted.org/six/) to handle this? It is a pretty great module.

[2018-03-20 19:53] martinemde commented on #39
I had trouble with some of the instructions. They didn’t properly instruct setting the cert as a root certificate. Make sure you go into the profiles and trust as root. This caused most of my problems.

[2018-03-20 21:08] KunoichiZ commented on #39
@Lnk2past I only have 1 IPv4 address listed.
@martinemde How do I trust the cert as root?

[2018-03-20 23:01] Lnk2past commented on #39
It wasn't anywhere in the mitmproxy tab that opened? Once you navigate to the Nintendo app and go tot he Splatoon 2 service, it should intercept the traffic. If you got this far the directions are pretty accurate (or at least they were for me). Maybe try navigating to some of the others that look similar?

[2018-03-20 23:43] martinemde commented on #39
On iPhone, Settings > General > Profiles > mitmproxy
On Tue, Mar 20, 2018 at 4:01 PM N. Sanchirico <notifications@github.com>
wrote:

[2018-03-20 23:49] martinemde commented on #39
I notice the step you're having trouble with might be earlier. If you were not able to reach http://mitm.it then you won't have the certificate yet.

Were you able to set the proxy up on your wifi network? Is this your own home network? Did you disable firewalls on your computer?

[2018-03-20 23:53] KunoichiZ commented on #39
I managed to get it set up, but in the Request tab, where Cookie was, it didn't show "iksm_session: xxxxx". It showed some "GA" thing. I'll try again to see if it gives me anything different.

[2018-03-20 23:56] martinemde commented on #39
I keep missing your edits. Sorry.

It looks like you're almost there. I deleted my previous comment since it made no sense now.

There were multiple listed on mine and the iksm_session is further in there. If you look for the string `iksm` it will be in there somewhere. Then just take the key. Mine looks like this: "9ca2bd76a23879ca2bd76a23879ca2bd76a7" (this is a fake one, but it's a hex string l

[2018-03-20 23:59] frozenpandaman commented on #39
Sorry for not responding more quickly; I'm at a conference this week and only on mobile. If you're able to view entries on the mitmweb page that opens in your browser, mitmproxy is working.

If the cookie isn't listed under the `https://app.splatoon2.nintendo.net/?lang=en-US` entry, try looking at the one for `https://app.splatoon2.nintendo.net/api/data/stages`, or one of the other entries for tha

[2018-03-21 00:15] frozenpandaman commented on #39
Also, please feel free to suggest any improvements to the readme or mitmproxy instructions wiki page, if they're off for you or missing any steps (different devices work differently, etc)... The instructions I wrote worked for me (i.e. I think I was prompted to enable it as root by default? or not at all and it still worked?) but I'll try reinstalling from scratch when I get home to make sure they

[2018-03-21 00:17] clovervidia commented on #39
@martinemde Is trusting a certificate as root a step required for iOS? I don't recall having to do that on Android, but the guide can certainly be updated if you have the steps you took to get the certificate to work for you.

[2018-03-21 01:24] Tiryoh commented on #39
@clovervidia I tried on my iPhone SE(iOS 11.2.5), and it was necessary to trust certificate as root.

![img_2298](https://user-images.githubusercontent.com/3256629/37690939-ab9fa3cc-2cf1-11e8-9a58-751db37cfe0c.PNG)

[2018-03-21 01:42] clovervidia commented on #39
Thanks for the detailed instructions. I'll add that and a link to the mitmproxy certificate installation docs (https://docs.mitmproxy.org/stable/concepts-certificates/) to the guide. Did you have to do anything else aside from setting up the certificate with full trust?

[2018-03-21 01:49] martinemde commented on #39
Oops, I directed to the wrong menu in settings. @Tiryoh has the correct location.

[2018-03-21 01:57] KunoichiZ commented on #39
@martinemde @frozenpandaman @Lnk2past Thank you for your help! The cookie in ``https://app.splatoon2.nintendo.net/?lang=en-US`` finally showed the proper iksm_session token.

[2018-03-21 01:57] #39 closed

[2018-03-25 03:54] martinemde commented on #38
FYI, I've switched to running on Python3 using your branch. Not testing python2 along side anymore. I didn't see any problem but it didn't get used much either since my wife hasn't played as much this week.

[2018-03-25 04:00] frozenpandaman commented on #38
Seems pretty similar to futirize. Or is there a difference you'd like to highlight?

Seems future/futurize is heavily preferred; here's one source about that: https://stackoverflow.com/questions/42110826/writing-cross-compatible-python-2-3-difference-between-future-six-and-fut

Same here, but also didn't run into any problems when running via Python 2.7 before making the branch. I was traveling th

[2018-03-25 04:00] #38 closed

[2018-03-25 14:17] Lnk2past commented on #38
Nah, no reason to pick up six then. I'll have to look into futurize for my own projects.

[2018-03-31 05:47] frozenpandaman commented on #38
@martinemde @Lnk2past Would you say this merits a bump to ver. 0.3.0? Or should we just do the same version bump as usual weapon stage updates (e.g. 0.2.35 → 0.2.36)? Not even sure if it matters a whole ton but just trying to get some community opinion here and thought you two may have some thoughts. 😊

[2018-03-31 23:26] martinemde commented on #38
SemVer would probably encourage 0.3.0. It’s a new feature that is backwards compatible. The point would be to say “you need version 0.3.0 or greater to run on python3” instead of “0.2.36 or heigher”.

[2018-04-01 01:43] Lnk2past commented on #38
I agree, bumping to 0.3.0 seems appropriate.

[2018-04-01 07:20] frozenpandaman commented on #38
SemVer is OK – but now let me introduce you to TenVer: http://tenver.drone-ver.org/

Thanks! I know @clovervidia was asking me for some justification as to what about this would merit calling it 0.3.0; this explanation makes a lot of sense to me, and that's what I was leaning toward as well too.

[2018-04-08 06:33] frozenpandaman opened #46 "Profile/gear image doesn't get sent for Shifty Station matches"
"Favorite Stage" (`stage`) gets set to `9999` (Shifty Station's ID), but this isn't a valid option/choice in the Favorite Stage dropdown on the app's Home screen

should randomize in this case

[2018-04-09 05:59] #46 closed

[2018-04-19 16:59] martinemde opened #48 "Battle uploaded to None"
Hi @frozenpandaman,

I'm trying to debug why I'm getting this message repeatedly after some of the newest updates. It hasn't worked right since around the python3 upgrade, but it was working fine with the initial branch you were testing.

I'm only having this error when it's running on my server, but I'm not sure how to debug it so I don't know how to tell what's different between the two environm

[2018-04-19 17:16] clovervidia commented on #48
Do the battles actually upload? I'd suggest printing the headers you get back from stat.ink and seeing if the field names changed, or if you're getting anything back at all.

[2018-04-19 17:32] martinemde commented on #48
The battles don't get uploaded. I can reupload them later. I'll try that.

[2018-04-19 17:45] clovervidia commented on #48
Very strange. If you are reaching stat.ink and getting an error message back, that should be handled and displayed, so it sounds like it might be a network issue. I think looking into the headers or pulling out some of the try/except statements to get some error messages would be a good place to start if you're unable to upload.

[2018-04-19 18:13] martinemde commented on #48
[code]

[2018-04-19 18:17] clovervidia commented on #48
My mistake, I thought the URL information was in the headers. Try reading the text/content of the response.

[2018-04-19 18:56] martinemde commented on #48
Seems like my api token was getting lost when the session token was used to refresh the cookie. I haven't made a great solution for the cookie generation yet because it requires some sort of persistent storage. I'm just making new tokens every hour right now.

[2018-04-19 18:56] #48 closed

[2018-04-19 19:12] martinemde commented on #48
Here's the error that wasn't being displayed properly:

[code]

[2018-04-19 19:16] clovervidia commented on #48
Hmm, that's strange because that should be tripping the try/except that attempts to read `postbattle.headers.get('location')` which should go to the except and print the error message, but I'm not sure why that's not happening.

[2018-04-19 19:18] martinemde commented on #48
Does `get` fail if the key doesn't exist?

[2018-04-19 19:36] clovervidia commented on #48
I see. Then you're right, it wouldn't be able to catch that the way it's set up right now. It should probably attempt to read `message` from the text if one is available to see if there was a error. Or do you think we should use the status codes because it looks like you got a 401 when you did that?

[2018-04-20 09:36] frozenpandaman commented on #48
Hm, yeah, the `except` block isn't ever being reached – which makes sense, I think, since we're using `.get()`. I'm able to replicate this by changing my stat.ink API key to something invalid (but still of the correct length):
[code]
I can achieve the same affect by changing the dbs.py dictionary value for a weapon that's present in a battle json. The key isn't recognized by stat.ink so it should

[2018-04-20 14:59] martinemde commented on #48
Looks good. Thank you @clovervidia @frozenpandaman

[2018-04-29 21:49] pixelyunicorn opened #49 "KeyError: 'rank'"
After updating to v1.1.0, I ran into this error running splatnet2statink:

![image](https://user-images.githubusercontent.com/607807/39411288-2582f73c-4bd5-11e8-9e03-9d94f442e918.png)

I haven't had a chance to debug this, but I think this may be related to Rank X. (I am currently not Rank X in any mode.)

I am running Python 2.7.14 on a mostly vanilla install of Ubuntu 16.04.1 LTS (via SSH), if t

[2018-04-29 21:55] clovervidia commented on #49
I've also encountered this issue. I believe it's due to Turf War and League battles not including that field. Would you mind testing the "fix-worldwide-rank-not-existing-in-tw" branch and seeing if that fixes the issue?

[2018-04-29 22:01] pixelyunicorn commented on #49
Nope, different error:

![image](https://user-images.githubusercontent.com/607807/39411393-51e7cfee-4bd7-11e8-954b-17a1c4d07096.png)

[code]

[2018-04-29 22:07] clovervidia commented on #49
Hmm, I missed that. Seems we will have to try/except every usage of `crown_players` and other X-rank fields. I just pushed another update to that branch, can you try it again?

[2018-04-29 22:10] pixelyunicorn commented on #49
It seems to work!

![image](https://user-images.githubusercontent.com/607807/39411459-9987a260-4bd8-11e8-89c5-74703fa16af8.png)

[2018-04-29 22:14] clovervidia commented on #49
Fantastic! I made one more change to handle the missing field in the place where the payload array is assembled rather than three separate times to minimize errors if we have to make further changes to `crown_players`, so if you wouldn't mind testing that as well. If this works, I can merge this into master and get this rolled out.

[2018-04-29 22:29] clovervidia commented on #49
Appreciate the testing. I'm going to run some final tests on it to (hopefully) make sure there aren't any other missing fields in other modes that aren't being handled, and then I'll merge it into master later today. If anything else that could be related to v3.0.0 features comes up, definitely leave a comment here.

[2018-04-29 23:34] clovervidia commented on #49
I've merged the branch into master so it should be rolling out to users shortly. I'm going to close the issue, but again if anything else breaks, feel free to comment and reopen it.

[2018-04-29 23:34] #49 closed

[2018-05-04 02:34] Josephvb10 opened #50 "Add a flag that automatically upgrades the script / ignores it"
Hello.

I currently use the script in a from service that runs the .py file with the -r flag. However if there's an update the script doesn't run as it keeps waiting for user input (Do you want to upgrade?).

That's why I'm asking for a new flag that skips the upgrade or automatically upgrades and re-runs the script with the same flags, this would allow to keep the cron running forever without use

[2018-05-04 02:37] frozenpandaman commented on #50
Would @fetus-hina's solution work for you?

https://github.com/frozenpandaman/splatnet2statink/issues/30#issuecomment-358103518

The way he does it, [`/bin/yes`](https://en.wikipedia.org/wiki/Yes_(Unix)) gets piped into the program so the update prompt is automatically answered (i.e. the script automatically updates).

[2018-05-07 12:03] frozenpandaman commented on #50
@Josephvb10 Have you had a chance to try this yet?

[2018-05-10 06:52] Josephvb10 commented on #50
It works so I'm closing this, but an auto-update option should be considered still!

[2018-05-10 06:52] #50 closed

[2018-05-10 07:46] frozenpandaman commented on #50
I'd consider adding a [custom key](https://github.com/frozenpandaman/splatnet2statink/wiki/custom-keys) to allow suppression of console output.

[2018-06-14 11:43] frozenpandaman opened #51 "Octo Expansion + v.3.1.0 changes"
New stat.ink field:
[code]

New gear:

| Headgear           | ID |
|:-------------------|:---|
| Conductor Cap      |    |
| Golden Toothpick   |    |
| Null Visor Replica |    |
| Octoling Shades    |    |
| Old-Timey Hat      |    |

| Clothing           | ID |
|:-------------------|:---|
| Neo Octoling Armor |    |
| Null Armor Replica |    |
| Old-Timey Clothes  |    |

| Shoes              |

[2018-06-17 13:49] frozenpandaman commented on #51
Pushed in 8ab71f4. Waiting on "dbless" conversation/stuff to merge into master…

[2018-07-23 00:43] ticky opened #52 "Splatfest experience calculation error"
Hi there,

It looks like there might be an issue with the calculation of Splatfest experience. I got this error from stat.ink:

[code]

Getting some debug output, it’s from a battle with this JSON representation:
https://gist.github.com/ticky/4979cdd367364e5e66ff7e71307a7e0f#file-fes-1529812235-from-nintendo-json. I’ve also attached the JSON splatnet2statink attempted to upload:
https://gist.githu

[2018-07-23 01:55] frozenpandaman commented on #52
Hah! OK, so the other team was *exactly* 1800 in estimate_fes_power, which should have caused the "win" (not "turf inked") portion of `points_gained` to be 5, but instead it was getting set to 6.

It was being calculated as follows:
[code]

https://github.com/frozenpandaman/splatnet2statink/blob/d236adc87d0b80b73e5a2f50ca6ea31fd6db1455/splatnet2statink.py#L953-L956

As you can see by the comments

[2018-07-23 02:53] ticky commented on #52
No problem at all! Glad you’ve got some idea of where it came from 😃

[2018-07-24 06:58] frozenpandaman commented on #52
Actually, I think 1800 should give +6, or at least did for this past Splatfest…

Would you happen to have the JSON or stat.ink URL for the battle right before this one, @ticky?

[2018-07-24 08:38] frozenpandaman commented on #52
OK, there's some damn weird stuff going on here… sometimes the points gained behave unexpectedly when changing titles.

---

\- The parenthetical (+2)s are for the player inking over 400p of turf, relevant for all the battles here.

\- Note that only the second number (after/on the right side of the "→") on stat.ink battle pages is 100% accurate, as only this number is provided in SplatNet JSONs;

[2018-07-24 18:53] ticky commented on #52
I believe it was, yeah.

I’m really not sure, sorry!

[2018-07-24 18:54] ticky commented on #52
Oh also, I actually ended up [uploading it to stat.ink](https://stat.ink/@ticky/spl2/1040334) by forcing that value to be at least zero. That was probably silly!

[2018-07-27 03:34] frozenpandaman commented on #52
Alright, I've fixed it on my end so all the cases above work, at least… but yours is still weird. Why did you gain +7 from that battle? You got +2 for inking, and then apparently +5 for the win… but the only other "+5" cases I can find are when you change/rank up in title, which you didn't do.

[2018-07-27 04:06] frozenpandaman commented on #52
More instances of +5 without title changes against exactly 1800 power:
* https://stat.ink/@flukekie/spl2/1022287 (87 → 94)
* https://stat.ink/@kgtkr/spl2/1025956 (55 → 62)
* https://stat.ink/@jet68668/spl2/1027543 (10 → 17)
* https://stat.ink/@nigaky/spl2/1027987 (26 → 33)
* https://stat.ink/@wata516/spl2/1028072 (66 → 73)
* https://stat.ink/@Benjamaster/spl2/1032175 (5 → 12)
* https://stat.ink/@M

[2018-08-21 09:19] frozenpandaman commented on #52
I reached out to @Leanny and he confirmed that the code Splatoon 2 uses to determine this +exp value *really is* as simple as it would seem (you can never be too sure with this game…):

[code]
where `q` is the average MMR of the non-d/c'd enemy players.

The game (and SplatNet) *does* round this value, but that doesn't explain *all* of these evidently rule-breaking cases where winning against ≥170

[2018-08-21 09:51] #52 closed

[2018-09-14 13:18] frozenpandaman opened #56 "Nintendo Switch Online v1.4.1 update"
To look into & update user agent info in iksm.py. Let's hope it doesn't break anything…

[2018-09-14 20:48] frozenpandaman commented on #56
https://github.com/frozenpandaman/splatnet2statink/blob/0c150ca524a0c9748e4d607281717d4d6f91da30/iksm.py#L61

Changed to "Select this person"
![image](https://user-images.githubusercontent.com/7245874/45574439-e085d200-b824-11e8-8f8b-879190a0c709.png)

[2018-09-14 20:51] frozenpandaman commented on #56
Autologin still works! So I think the only thing to do is update the user agent.

https://github.com/frozenpandaman/splatnet2statink/blob/0c150ca524a0c9748e4d607281717d4d6f91da30/iksm.py#L80

[2018-09-15 08:26] frozenpandaman opened #57 "Ver.4 update"
## Ver.4.0 (September 13)

### Kensa Collection <span>#</span>1

* New weapons – added in 764bb26

### Splatfest changes

* **Discussion moved to #58** – added in 5e96a53

[2018-09-15 10:08] frozenpandaman commented on #56
v1.4.1 adds certificate pinning, so mitm no longer works. v1.1.2 and below still work.

[2018-09-16 03:38] edmiyaa commented on #56
I'm having this problem right now, I was trying to extract the iksm_session key as I did many times before, but then I realized that it seemed to ignore the mitmproxy certificate. So, what would be the solution? Downgrade the app and try again?

[2018-09-16 07:16] frozenpandaman commented on #56
@edmiyaa Yup. Manually install the 1.1.2 apk and use that. I updated the [mitmproxy instructions](https://github.com/frozenpandaman/splatnet2statink/wiki/mitmproxy-instructions) to say this as well. (Hopefully this version will keep being supported, and Nintendo won't force you to upgrade…) Or, use splatnet2statink automatic cookie generation and you can generate an `iksm_session` cookie right fro

[2018-09-16 17:11] edmiyaa commented on #56
Alright thanks! I'll try splatnet2statink and see how it goes.

[2018-09-17 09:30] frozenpandaman commented on #56
Bizarrely, @clovervidia says it's still working for him using v1.4.1 of the app:
![image](https://user-images.githubusercontent.com/7245874/45615214-b698ff00-ba20-11e8-8de0-5a04c169a9a8.png)

But it's still not for me – or @edmiyaa, evidently.

I tried with Charles Proxy (couldn't get Fiddler's Mac version to work) to verify it wasn't some mitmproxy issue to also no luck:
![image](https://user-ima

[2018-09-18 06:50] Tiryoh commented on #56
I'm not sure about this, but it seems like v1.1.2 client is not working for now.
[code]

Writing `config.txt` manually by using v1.4.0 app (iOS) + mitmproxy worked fine.
<img width="1222" alt="_2018-09-18_15_40_08" src="https://user-images.githubusercontent.com/3256629/45668963-7c7f4880-bb59-11e8-851e-1efac65e824b.png">

[2018-09-18 07:01] frozenpandaman commented on #56
Was just about to post, and talked about this with @hymm earlier too… Yup, old versions of the app are now no longer allowed. Changing the user agent to 1.4.1 (or 1.4.0 as that's the current version for iOS) fixes the "Upgrade required" error, naturally, but then it changes to "Bad request":
![image](https://user-images.githubusercontent.com/7245874/45669764-da6a4c80-bad5-11e8-81bd-562590612e49.pn

[2018-09-18 07:17] Tiryoh commented on #56
Oh...
Thanks for the information.  I will use the iOS app + mitmproxy for the time being.

[2018-09-18 09:00] frozenpandaman commented on #56
Network Security Configuration is what prevents mitmproxy from now working in Android 7.0 and higher. More info [here](https://developer.android.com/training/articles/security-config) and [here](https://android-developers.googleblog.com/2016/07/changes-to-trusted-certificate.html). I installed the app on an emulator running an older version of android and I'm now able to mitm the requests fine.

-

[2018-09-19 21:00] YDKK commented on #56
It seems they generate new `f` parameter in the native library, which is difficult to analysis. 😞

[2018-09-19 21:51] hymm commented on #56
I decompiled the so, but can't really read assembly :'(

[2018-09-20 04:45] frozenpandaman commented on #57
@fetus-hina Thanks! The fields I listed are just conjecture, but @clovervidia has done some digging around in the decompiled apk and is looking into which actually exist – of course, we'll also find out in a few days once the Splatfest actually begins and we can see the jsons. 🙂

[2018-09-22 00:50] frozenpandaman commented on #56
Yeah, I played around with some tools too – [apktool](https://ibotpeaches.github.io/Apktool/), [dex2jar](https://github.com/pxb1988/dex2jar), [IDA Free](https://www.hex-rays.com/products/ida/support/download_freeware.shtml), [RetDec](https://retdec.com/) – and got the disassembly of `gen_audio_h` within (x86) `libvoip.so` as well… but this is so far outside my area of knowledge I don't know how to

[2018-09-22 00:51] frozenpandaman commented on #56
Yeah, I played around with some tools too – [apktool](https://ibotpeaches.github.io/Apktool/), [dex2jar](https://github.com/pxb1988/dex2jar), [dnSpy](https://github.com/0xd4d/dnSpy), [IDA Free](https://www.hex-rays.com/products/ida/support/download_freeware.shtml), [RetDec](https://retdec.com/) – and got the disassembly of `gen_audio_h` within (x86) `libvoip.so` as well… but this is so far outside

[2018-09-22 11:08] frozenpandaman commented on #57
Closing as Ver.4.0 items have been taken care of.

[2018-09-22 11:08] #57 closed

[2018-09-22 11:08] frozenpandaman commented on #57
For the future:

## Ver.4.1 (Early October)

### Kensa Collection <span>#</span>2
  * New weapons

### New stage
* Skipper Pavilion `mutsugoro`

### Nintendo Switch Online gear
* Online Jersey
* Online Squidkid V Shoes

[2018-09-22 21:12] edmiyaa commented on #56
So, what is the impact of not knowing how to generate the `f` parameter? It only affects the _automatic_ generation of the `iksm_session` cookie right? For now I'm doing it manually (older version of the app together with mitm proxy), but I'm worried when Nintendo starts forcing to use the latest version of the app.

[2018-09-22 22:06] hymm commented on #56
@edmiyaa You can use an older version of android like on the Nox emulator with the latest version of the app.

[2018-09-22 22:42] edmiyaa commented on #56
@hymm Thanks! I'll keep that in mind.

[2018-09-23 08:41] chrhasse commented on #56
I don't think it's that the app implemented certificate pinning, but rather that the app now targets a more recent API level (since google now requires that), and more recent API levels not trusting user certificates (only system certificates) by default.

If you use Magisk you can just install [this module](https://github.com/NVISO-BE/MagiskTrustUserCerts) to trust user certs.

If you have root y

[2018-09-23 10:12] frozenpandaman commented on #56
@chrhasse Oooh yeah, you're totally right. @YDKK was saying he didn't find any evidence of cert pinning either… and if they did add it, it'd be weird for mitmproxy to still work with the newest version of the app on older Android versions. That's also supported by [this announcement](https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html)… plus
[this email](h

[2018-09-23 19:43] Valerokai commented on #56
@frozenpandaman Does the app work in an emulator? You could try using a rooted android emulator, and then using mitmproxy on that.

[2018-09-23 19:53] frozenpandaman commented on #56
@Valerokai Doesn't even need to be rooted – mitmproxy works fine as long as you're running a version of Android below 7.0. (The [mitmproxy instructions](https://github.com/frozenpandaman/splatnet2statink/wiki/mitmproxy-instructions) have said this & have suggested an emulator to use for a few days now as well. 😜)

Getting your cookie manually like that has always been possible (and always should b

[2018-09-23 19:58] frozenpandaman commented on #56
`f` can now be different lengths (here are 10 examples):
![image](https://user-images.githubusercontent.com/7245874/45932363-b7a1c300-bf2f-11e8-9f8e-6dba14834866.png)

So it's likely not an HMAC/hash function anymore… 🙃

On the bright side, the DLLs in the iOS .ipa aren't obfuscated (via Dotfuscator :B) like those in the .apk are, at least. But not even sure that helps, really.

[2018-09-24 04:50] chrhasse commented on #56
Is there a way to get the ipa file without an iOS device? if it's not obfuscated it would definitely be easier for me to look at

[2018-09-24 06:38] frozenpandaman commented on #56
@chrhasse I downloaded it from my (very old) jailbroken iPod and didn't have any trouble opening that file. I don't see any contact info on your GitHub profile, so DM me on Twitter. :)

[2018-09-24 11:53] vlee489 commented on #56
Any chance I could get my hand on those files @frozenpandaman , I haven't been able to use mitm cause university internet and I left my jailbroken iPod/rooted S4 back home >.<

[2018-09-24 11:55] vlee489 commented on #56
This update broke my work on splatstats.ink

[2018-09-24 12:11] frozenpandaman commented on #56
Oops, I tried to combine your multiple comments in a row into one and GitHub decided to let everybody know about it lol. Sorry about that.

Anyway, @vlee489, I'm not familiar with the project but it doesn't look like it's public yet. Isn't weapon usage & team stats something @hymm's http://squidtracks.ink/ already does?

Re: the .ipa see my above comment.

[2018-09-24 12:18] vlee489 commented on #56
yeah but I'm adding some data analysis into what squidtracks itself has. I'm still working on the code that does the comparing and displaying of data, just d3.js last update broke a ton of my code for the data visualisation part of my website.

my main issue is that I can't access splatnet to download the weapon data anymore and I can't use mitmproxy on my Uni network to do the reverse engineering

[2018-09-24 12:35] frozenpandaman commented on #56
Well, hopefully we can figure out stuff soon (it took multiple months previously, when `f` was introduced for the first time 😉) so you can continue work on it.

(A bit off-topic now, but what if you make a Wi-Fi hotspot from your phone, connect your computer to it, and then use an Android emulator?)

splatoon2.ink has a few API endpoints for making things like stage rotation, salmon run schedule,

[2018-09-24 12:57] vlee489 commented on #56
(I can't really efficiently run Hyper-V on top of KVM, saying that I already have a makeshift router in my room working on rerouting my switch to get my switch to play online)

I could ask @misenhower about making an API endpoint but, there are 72 league sets day to get (96 if you include ALL), and that's a lot to cache and make sure they are valid. plus I pull more in then just league data to mak

[2018-09-24 23:01] clovervidia commented on #56
@vlee489 I might be able to help if you're looking for ways to get league leaderboard data. Do you have a preferred way to DM, like Twitter or Discord?

[2018-09-25 16:32] rash67 opened #59 ""server maintenance" error"
I'm not sure if this is a forwarded error message from nintendo, but I setup my original cookie stat.ink API key, and try to update my stat.ink battles:

./splatnet2statink.py -r
splatnet2statink v1.2.1
Blank cookie.
Attempting to generate new cookie...
Error from the splatnet2statink API:
{
  "error": "Server maintenance"
}
This happened the first time when I pasted the URL to get a cookie as wel

[2018-09-25 18:52] frozenpandaman commented on #59
Hey @rash67,

Nintendo changed the login method in the latest update to the app, and we still haven't figured out how to generate one of the parameters we need. As a result,

In 1.2.1, I changed it so when a config.txt is generated, the word "skip" would be input as the session token and

[2018-09-25 19:31] frozenpandaman commented on #59
Hey @rash67,

Nintendo changed the login method in the latest update to the app, and we still haven't figured out how to generate one of the parameters (`f`) we need – which is what the splatnet2statink API's purpose was. As a result, I took it offline until we have generation solved again, because I didn't see the point in returning broken/not working tokens to the user. I'm realizing I could hav

[2018-09-25 23:52] rash67 commented on #59
i got the iksm direct to work by letting the script fill in the session id and getting the cookie with iphone + proxy to watch api calls the app makes

it looks like you might just change to start with the gameweb-something api call (watched the proxy when i got cookie)

i started to take a whack at iksm.py but am a bit busy

if i can help, lmk

Sam Rash
sam.rash@gmail.com

[2018-09-25 23:57] frozenpandaman commented on #59
Session token doesn't really matter if you're inputting in a cookie by hand, since it's only used to *generate* those cookies (which we can't do anymore, for the time being).

Sorry, what do you mean? And what about iksm.py?

[2018-09-27 04:06] frozenpandaman commented on #59
Closing because you said this was taken care of for you.

[2018-09-27 04:06] #59 closed

[2018-09-29 00:06] niyari opened #60 "match the HTTP header to genuine(Splatnet2) application."
Hello.
I want to change the contents of the HTTP request header to be the same as Splatnet 2 app of each user.

- [ ] x-unique-id
- [ ] x-timezone-offset
- [ ] User-Agent

"x-timezone-offset" affects the time display of images. (This refers to the time zone of the smartphone.)
"x-unique-id" is not used in splatnet 2statink. Still it seems to be unique for each user.

As for the time zone, since th

[2018-09-29 10:45] frozenpandaman commented on #60
Thanks @niyari! Linking our relevant [Twitter convo](https://twitter.com/sou_niyari/status/1045548938592378881) as well.

I agree we should set `x-timezone-offset` to be based on the current system timezone so the SplatNet images (e.g. scoreboard) that get uploaded to stat.ink show the correct time. Nice catch!

I guess there's really no reason *not* to allow these fields to also be set manually,

[2018-09-30 06:44] niyari commented on #60
I'd like to wish that this options is not necessary all the time, but I thought it would be an item to be investigated when the check got tough.

[2018-10-03 10:05] frozenpandaman opened #62 "f token generation in NSO app v1.4.1"
(Migrating from #56 where the discussion got a bit messy and where we were still figuring out specifics of the situation.)

The `f` token was introduced into the Nintendo Switch Online app last year in v1.1.0 as a parameter that must be sent in the request to Nintendo to generate an `iksm_session` cookie, which grants access to app.splatoon2.nintendo.net and thus a user's battle log. We were able

[2018-10-03 10:07] frozenpandaman commented on #56
Moving main discussion of `f` generation to #62. Keeping comments unlocked here in case there is further discussion around related issues or continued conversations from earlier.

[2018-10-03 10:07] #56 closed

[2018-10-03 11:51] frozenpandaman opened #63 "Support uploading Salmon Run shifts"
For reference in case stat.ink ever allows uploading these stats. Irrelevant keys (e.g. `image`, `thumbnail`, `name` if `id` exists) have been removed.

<pre><b>https://app.splatoon2.nintendo.net/api/coop_results</b>
├── results
│   └── (see below) – but does NOT include other_results
├── reward_gear                           This month's gear
│   └── id
└── summary                               L

[2018-10-03 11:54] frozenpandaman commented on #63
Values to figure out:

- [ ] `failure_reason`: `wipe_out`, null
  - Need: quota not met
- [x] `grade`>`id`: `5` = Profressional
  - Assuming `4` = Overachiever, `3` = Go-Getter, `2` = Part-Timer, `1` = Apprentice
  - Is Intern `0`? Does it even show up?
- [x] `water_level`>`key`: `low`, `normal`, `high`
- [ ] `event_type`>`key`: `cohock-charge`, `fog`, `water-levels (normal)`
  - Need: chum rush,

[2018-10-03 13:58] frozenpandaman commented on #57
Halloween Splatfear gear:
- Kyonshi Hat
- Li'l Devil Horns
- Hockey Mask
- Anglerfish Mask

[2018-10-03 18:31] Terax235 opened #64 "mitmproxy not working"
I'm trying to get an iksm_token using [this guide](https://github.com/frozenpandaman/splatnet2statink/wiki/mitmproxy-instructions), but it doesn't seem to work.

I've started `mitmweb` and changed the Wifi settings on my iOS, then I tried to get to http://mitm.it/ but after a while it says that the server doesn't respond. What did I do wrong?

[2018-10-03 21:33] marijnvdwerf commented on #64
Quick list of things that might have went wrong:
- Did you save the settings after making the change? (top right)
- Have you input the correct port (8080)
- Are you sure the IP-address matches and is reachable from the wireless network

[2018-10-03 21:49] frozenpandaman commented on #64
Also make sure your phone and computer are on the same Wi-Fi network. If you still encounter problems, I'd try a different network if you can (e.g. I'd expect some public or workplace network configs to not work).

[2018-10-04 16:54] Terax235 commented on #64
I'm sure. Could the problem be that my PC is connected over LAN but my mobile over WiFi?

[2018-10-04 19:11] frozenpandaman commented on #64
Not 100% sure on this because I've never tested it myself and don't know a lot about networking stuff, but that sounds like it's probably the issue. They should both be on Wi-Fi and on the same network, so your computer's internal IP is accessible through your phone.

[2018-10-05 07:38] frozenpandaman commented on #63
Adding support in the [`salmon-run` branch](https://github.com/frozenpandaman/splatnet2statink/tree/salmon-run)…

![image](https://user-images.githubusercontent.com/7245874/46522175-ede81800-c836-11e8-9288-2c61630d3e70.png)
![image](https://user-images.githubusercontent.com/7245874/46522185-f2accc00-c836-11e8-8e6e-b19719fc49f1.png)

[2018-10-05 23:59] Terax235 commented on #64
Windows 10 @marijnvdwerf

[2018-10-06 00:02] frozenpandaman commented on #64
@Terax235 Were you able to try with a computer connected to that same Wi-Fi network?

[2018-10-06 00:17] Terax235 commented on #64
@frozenpandaman I'm now trying to do this on my laptop which is connected to the same Wi-Fi network.

[2018-10-06 11:11] emaame opened #65 "W1/W2 Failure does not include wave_details"
I tested a new experimental brunch, salmon-run.
I found salmon_post_shift failed if **W1/W2 failure** has included in results.

I know it can fix by checking results[i]["wave_details"][wave] is available,
but I don't know how the data should process.

I'm so excited to collect data!

[2018-10-06 13:09] frozenpandaman commented on #65
Thanks for the note! I'll fix this later today.

Note that the branch is still highly experimental, with features being added gradually, so crashes like this are probably to be expected going forward. The branch doesn't even currently upload anything to stat.ink – it just prints the payload that it *would* upload, i.e. details about the shifts (since stat.ink doesn't support uploading this info ye

[2018-10-06 19:47] #65 closed

[2018-10-06 20:28] frozenpandaman commented on #65
hahaha i don't know how to use git have fun rebasing y'all

[2018-10-07 22:30] frozenpandaman commented on #64
Closing as been two days since an update and it's not related to splatnet2statink. Feel free to post here if you can't figure out further issues.

[2018-10-07 22:30] #64 closed

[2018-10-13 01:46] gotmilk0112 opened #66 "Can't rename proxy in iOS"
Stuck on step 7 for iOS. It tells me to rename the proxy profile, but there is no option to rename it anywhere.

Nintendo Switch Online app just keeps saying the connection is unstable.

[2018-10-13 01:51] frozenpandaman commented on #66
@clovervidia Can you help with this? I'm on vacation and not online much. Otherwise I'll look into this in a few days.

[2018-10-13 02:36] clovervidia commented on #66
I'm not familiar with the procedure for iOS, and I don't see a step in our readme or on our mitmproxy wiki page about renaming the proxy profile. Can you link me to the steps you are following?

[2018-10-13 02:54] gotmilk0112 commented on #66
Huh, I think I'm in the wrong issues section......somehow.

This one, for SquidTracks:

https://github.com/hymm/squid-tracks/wiki/en_getCookie

Step 7 says to name the certificate, but I can't name it.

[2018-10-13 03:03] clovervidia commented on #66
That would explain it. I'm surprised they're using their own proxy instead of using mitmproxy, but that's not important right now. Renaming the certificate shouldn't be necessary to making it work, that's just to make it easier for you to find and remove when you're done. If you're having difficulty getting that proxy to work, I would suggest following [our instructions](https://github.com/frozenp

[2018-10-13 03:20] gotmilk0112 commented on #66
I can't get that to work either. I got as far as getting into the mitmproxy tab and seeing the "cookie" bit, but it's a few letters followed by two long numbers with a period in between, and no matter what I try entering into Squidtracks, it just gives an error.

[2018-10-13 03:28] clovervidia commented on #66
The cookie should be 40 characters long, so I'm not sure what happened the first time, but if you got it working, then that's all that matters. I'll close this issue since it seems to be resolved, and if you have further problems with the proxy, feel free to stop by again.

[2018-10-13 03:28] #66 closed

[2018-10-17 07:38] frozenpandaman commented on #62
Apparently a solution has been found by the ikaWidget2 dev… have reached out for more info… https://twitter.com/NexusMine/status/1051500912584273920

[2018-10-22 20:43] frozenpandaman commented on #62
ikaWidget2 created their own API where they fixed f generation which behaves in the same way as mine did previously: `https://flapg.com/ika2/api/login`

Not sure if the creator is intending others apart from their app to use it, and there's no public mention of it existing, or any docs, etc… so I DMed them, having talked in depth with them about this before. But either way, we should be able to in

[2018-10-22 20:44] frozenpandaman commented on #62
The ikaWidget2 dev created their own API where they fixed f generation which behaves in almost the same way as mine did previously: `https://flapg.com/ika2/api/login`

Not sure if the creator is intending others apart from their app to use it, and there's no public mention of it existing, or any docs, etc… so I DMed them, having talked in depth with them about this before. But either way, we shoul

[2018-10-26 13:51] Terax235 commented on #64
I'm sorry for responding very late, but I've tested it and there are the results:
The certificate doesn't install on my iOS. There is no option to enable full trust for root certificates.

[2018-10-26 13:52] Terax235 commented on #64
It's opening the page http://mitm.it/ but there's no certificate listed.

[2018-11-01 18:21] Terax235 opened #68 "mitmproxy still not working"
Hello. I've tried to get the iksm_token using mitmproxy but it's not working.
I've set the proxy and everything, then I've opened http://mitm.it/ but it didn't show a certificate to install.

[2018-11-01 18:59] frozenpandaman commented on #68
Duplicate of #64, which you also created. Please keep conversation there.

While we'd like to help, and have tried to do so on that issue, this technically isn't splatnet2statink-related.

[2018-11-01 18:59] #68 closed

[2018-11-02 08:06] frozenpandaman commented on #63
`salmon-run` branch is fully up-to-date, working, and ready to merge, pending stat.ink API updates & a little more testing!

[2018-11-02 08:06] #63 closed

[2018-11-04 10:48] frozenpandaman commented on #57
## Ver.4.2 (November 7)

### Kensa Collection <span>#</span>3
* New weapons

### New Salmon Run stage
* 朽ちた箱舟 ポラリス

[2018-11-04 20:16] fetus-hina commented on #63
Just a note: "intern" jobs are probably not recorded. (It doesn't affected to our apps)
https://stat.ink/@20excalibur07/salmon/1049
This is "job # 1" and "Apprentice 40→60".

[2018-11-05 01:53] frozenpandaman commented on #63
That's what I assumed – good to be able to confirm! Thanks!

[2018-11-05 20:47] Dog2puppy commented on #62
Any update on this? My token keeps expiring and it’s annoying having to reset it.

[2018-11-05 23:06] frozenpandaman commented on #62
@Dog2puppy Nope. I sent a message specifically mentioning their API & asking if we could use it (and if so, how) on November 1, and haven't heard back yet. It's of course not the ideal solution, but I'm able to very easily get new tokens in ~1 minute using the Nox App Player Android emulator + mitmproxy. I can make a gif showing my workflow if you'd like.

[2018-11-05 23:09] Dog2puppy commented on #62
If they say yes, does that mean no more worrying about the token expiring like once a week?

[2018-11-05 23:21] frozenpandaman commented on #62
Yes, it'll go back to how it was before, with the script being able to generate them automatically as-needed from your `session_token` saved in `config.txt`. The [api docs](https://github.com/frozenpandaman/splatnet2statink/wiki/api-docs) wiki page has more information. I'd like to keep discussion on this issue focused around specifically how to solve `f` generation – so, for further questions, pl

[2018-11-07 01:44] genesis424 commented on #62
I would super appreciate a gif showing your process if that's possible!

[2018-11-07 11:43] frozenpandaman commented on #62
@genesis424
![s2s](https://user-images.githubusercontent.com/7245874/48129730-33856f80-e23f-11e8-9e96-3ae37f9477c5.gif)

[2019-02-01 08:55] frozenpandaman commented on #62
![image](https://user-images.githubusercontent.com/7245874/52111777-7abe9a80-25b9-11e9-944c-5d5a6a273cd6.png)
### WE'RE &nbsp;B A C K

[2019-02-01 09:12] frozenpandaman commented on #62
Massive thanks to [@NexusMine](https://twitter.com/NexusMine) for setting up an Android emulator of the app on his server (the flapg URL above. I don't 100% understand this part but hey, what can you do) and giving me information on how to use it.

I've updated the splatnet2statink API to be used *in conjunction* with the flapg API. The s2s API's function has also changed: it now generates *hashes

[2019-02-01 15:58] guigas7 commented on #62
Thanks a lot. I just got a phone that can open the switch app but i couldn't make it work with mitmproxy. I'm getting an error code 2817-0599. The switch app says the connection is unstable and i can't use splatnet at all.

[2019-02-01 19:53] frozenpandaman commented on #62
@guigas7 Please make sure you're reading the note on top of the [mitmproxy instructions](https://github.com/frozenpandaman/splatnet2statink/wiki/mitmproxy-instructions) page, as this explains why it won't work if your phone is running Android 7.0 or higher, and provides a workaround. With automatic login working again, though, you won't need to use mitmproxy at all.

As your issue isn't related to

[2019-02-04 04:32] frozenpandaman commented on #62
The fix is now live! 😄 0590ac7

[2019-02-04 04:32] #62 closed

[2019-02-06 16:30] DuckyQuack opened #73 "Normal Login still not working"

[2019-02-06 18:18] frozenpandaman commented on #73
More information would be helpful. What error are you getting? etc.

[2019-02-07 02:07] frozenpandaman commented on #73
I can't reproduce this:
[code]

[2019-02-08 13:05] frozenpandaman commented on #57
## Ver.4.4 (January 29)

### Sheldon's picks (March)
* New weapons

[2019-02-08 23:34] frozenpandaman commented on #73
Closing due to lack of information.

[2019-02-08 23:34] #73 closed

[2019-02-09 14:09] gomtuu opened #74 "UnboundLocalError: local variable 'acc_name' referenced before assignment"
In v1.4.0, after manually entering an iksm_session cookie, I get an error:

[code]

Looks like `acc_name` is only defined if `manual` is false, because it's the name of the Nintendo account used for automatic cookie generation.

Despite the error, the config file is updated properly and the program works the next time I run it.

Thanks!

[2019-02-10 00:19] frozenpandaman commented on #74
Oops. Silly mistake. Fixed in 3ba2870 (v1.4.1). Thanks @gomtuu!

[2019-02-10 00:19] #74 closed

[2019-02-23 14:48] guigas7 opened #75 "Possible bug on salmon mode"
So, running the script with ./splatnet2statink.py --salmon on linux prints an html page [out.txt](https://github.com/frozenpandaman/splatnet2statink/files/2896891/out.txt)
 if i select a number of shifts to upload that is higher than the amount of shifts not uploaded i have. If i ask to upload more than 1 overflowing shift (if i have 1 shift not uploaded and i ask to upload more than 2) it prompts

[2019-02-23 15:05] frozenpandaman commented on #75
Ah, looks like it's printing the page contents rather than the returned "hey this battle exists online already, and here's where" URL. I can look into this tomorrow. Thanks!

[2019-03-19 21:50] Jetsurf opened #77 "f token no longer needed?"
Hello,

I've been working on a discord bot to pull data from splatnet and came across the following realization. While adapting the code from your projects token grabber to my bots code, I came across an "error". I wasn't leveraging the flapg api, but was still getting back 200OK responses from Nintendo when getting the iksm_session token. At first, I was just thinking I implemented everything cor

[2019-03-19 23:17] clovervidia commented on #77
This is a very interesting discovery indeed. I tried it out myself by modifying `iksm.py` to force `f` to be `None`, like in your `nsotoken.py`, and it worked for me. I was able to log in to my account without needing `f` or using the `flapg` API.
That being said, I'd be a little wary of them changing how authentication works. They haven't updated the app recently, which means the app is probably

[2019-03-19 23:24] Jetsurf commented on #77
Thanks for the confirmation. I'm still scratching my head as to why this change happened. That said, if this requires the f token again in the future, is there a way I can leverage the flapg api with my bot to get these f tokens and be OK? It seems its specifically meant for use with this project, but if I generate an s2s account and get the hash to return an f token for my bot use to get iksm for

[2019-03-19 23:24] frozenpandaman commented on #77
Interesting. Thanks for letting us know! (I can't try it out as I'm out of town/away from my computer for the next couple of weeks.)

It sounds like the app is most likely (could confirm by mitm-ing) still sending `f` tokens itself and for some reason their servers – possibly unintentionally – just aren't requiring them in requests, at least for the time being…

I don't think removing the flapg AP

[2019-03-19 23:26] Jetsurf commented on #77
No problem! I did indeed check with mitm myself before I implemented the token grabber and saw f still being passed.

[2019-03-19 23:40] clovervidia commented on #77
I was going to suggest maybe there is an app update coming soon that removes or otherwise dummies out `f` for whatever reason, but if this has been going on for half a month, that's some oversight and the update should've been pushed by now. As far as matching the app's behavior, that makes sense, and yet at the same time, I'm sure it looks pretty suspicious to see the same traffic patterns coming

[2019-04-01 03:53] frozenpandaman commented on #75
OK, finally had time to look into this & was able to replicate it… it seems stat.ink is returning an HTTP 200 OK response rather than a 302 (redirect) when uploading an already-uploaded job. Hina is looking into this shortly so we can fix it.

[2019-04-02 06:20] #75 closed

[2019-04-02 06:29] frozenpandaman commented on #77
Closing as I don't plan on changing the script's behavior at this time and there's no real "issue," but we can still discuss here going forward if needed. :)

[2019-04-02 06:29] #77 closed

[2019-04-11 21:57] Jetsurf opened #79 "f token generation changed in NSO app v1.5.0"
Hello again guys.

I noticed an update hit for the NSO app. Looks like f token generation changed completely. The new tokens appear to be longer than in 1.4.1.

1.5.0.1 token
`"f": "53ac761c0b943a2053bd434bbcb85b62c43165b89ce63f8bd65d1becb852bbccdcf3caaf3bbddd6b97"`

As compared to 1.4.1
`'f': '28b3aa6dd762fbfcf114a348d8da17fb382c4b8e'`

Just giving a heads up as I won't have time in the near futu

[2019-04-11 22:03] frozenpandaman commented on #79
Yup, someone just reported this this morning as well: https://twitter.com/BOQ_JP/status/1116360750363054082

I hadn't noticed the app update on the 8th. Will look into it tonight. Hopefully it'll be fixed & go back to working by just updating the version number in the request headers. :)

[2019-04-11 22:04] Jetsurf commented on #79
Just a heads up on that front. I changed the version numbers from 1.4.1 to 1.5.0.1 in my project as well as yours. Token errors occur rather than just the "Update Required" response.

[2019-04-11 22:12] frozenpandaman commented on #79
Yup, someone just reported this this morning as well: https://twitter.com/BOQ_JP/status/1116360750363054082

I had hoped that simply updating the version number in the request headers would work (wishful thinking) – but as you pointed out it appears the `f` token format was changed too... again... so hopefully the flapg API can fix this soon, I'll let them know about the change as well.

[2019-04-12 00:18] clovervidia commented on #79
Probably obvious by now, but blank `f` tokens no longer work:

[code]

[2019-04-12 00:20] frozenpandaman commented on #77
https://github.com/frozenpandaman/splatnet2statink/issues/79#issuecomment-482386999

[2019-04-18 07:05] SimonOrJ opened #81 "No error message when errored while generating cookie"
Hello!

I cannot upload my data to stat.ink anymore.  The new cookie won't generate, and now there's no error to know why.

[code]

Last time the error was that the API was outdated.  I'm hoping this can be fixed.  Thank you!

~Simon

[2019-04-18 07:34] fetus-hina commented on #81
Please refer to #79

[2019-04-18 07:34] SimonOrJ commented on #81
After some inspection, the latest commit 45e55dbc47ea186a0385c7b8c89428637d153ee3 is causing the error message to appear.

[code]

[2019-04-18 07:36] SimonOrJ commented on #81
I've updated the title accordingly

[2019-04-18 08:25] frozenpandaman commented on #81
Re: your original question, `f` generation is broken due to the NSO app update. Please see the issue @fetus-hina linked.

---

Re: commit 45e55db, that actually should have caused the flapg API's error message to properly display the Japanese characters rather than non-ASCII escape sequences:
[code]

---

Re: the program exiting silently instead of printing an error message from the flapg API (you

[2019-04-18 08:25] #81 closed

[2019-04-18 08:32] frozenpandaman commented on #79
NexusMine, the maintainer of the flapg API, is currently investigating/working on a solution, but says it may take some time: https://twitter.com/NexusMine/status/1116919063568011265

[2019-04-18 08:46] SimonOrJ commented on #81
I used `git reset HEAD^ --hard` and tried it out and got that result on python.  I originally used it with `python2.7`, not knowing it should be run on python 3. /shrug

Thank you so much for detailed explanation, @frozenpandaman! You're the best :)
~Simon

[2019-04-18 08:52] frozenpandaman commented on #81
Ahh interesting. Thanks!

We aim for compatibility with both! But Python 3 is preferred. ;)

I've also now updated the readme & docs to help out users who may be confused while automatic cookie generation is down.

[2019-04-19 10:38] Wolfy76700 opened #82 "Cannot open NSO app using mitmproxy"
With the latest version, NSO now only supports Android 5.0 and above, meaning I had to install Android 5.0 in Nox. However, I cannot get it to connect to the internet through mitmproxy anymore, despite me putting the right address as a proxy. Any ideas on how to solve this?

[2019-04-19 10:41] frozenpandaman commented on #82
Hmm, I just re-installed Nox a few days ago and it worked fine for me with the version of Android Nox comes with by default (4.4.2). I can look into this more tomorrow.

[2019-04-19 12:23] Wolfy76700 commented on #82
OK, I checked and I just forgot to install the mitmproxy certificate in the emulated version of Android 5.0, and now it works

[2019-04-19 12:23] #82 closed

[2019-04-19 12:30] Wolfy76700 commented on #82
Also, as a side note, I've managed to access Smash World on https://app.smashbros.nintendo.net/ by grabbing the "super_smash_session" value of the cookie and inputting that in Firefox

[2019-04-27 20:50] martinemde opened #83 "multiple config files with -f argument"
Hi @frozenpandaman & @clovervidia,

First off, I love what you've done with the script. I took a few months off from playing, then setup the script from scratch to see how it has progressed. Nice work.

I'm finding that I have a problem running the script for multiple different people. I'd love to be able to generate a unique config.txt for each person (my wife and I).

I imagine you could move th

[2019-04-27 22:01] frozenpandaman commented on #83
There's a hidden option `-i` (as we don't expect normal users to use it) that takes in a json file to parse/upload instead of pulling results from online. I think being able to point to a config file (or even having multiple of them) is probably outside the use case for most people, but I think I'd make sense to support an option that, in that style, allows you to specify which config file to use.

[2019-04-27 23:30] martinemde commented on #83
It just means you can’t run both at the same time from the same directory.

On Sat, Apr 27, 2019 at 3:01 PM eli fessler <notifications@github.com>
wrote:

--
Martin Emde

[2019-04-27 23:34] frozenpandaman commented on #83
Lol that is a good point. Interesting…

Well, I'll take a shot at implementing it shortly then (hopefully this weekend). @clovervidia thoughts?

[2019-04-28 00:29] clovervidia commented on #83
Renaming the config files as they're needed sounds like a real hack, might as well make two scripts to symlink the config files for each person and delete them when you're done playing if you're suggesting that route. I think adding a flag to point to a config file is a reasonable request. It's gonna take some minor restructuring since the config file is read as soon as the script starts, but that

[2019-04-29 07:08] issei-m commented on #79
Looks like f token generation api came back?
https://twitter.com/NexusMine/status/1122704397115346944

[2019-04-29 07:15] frozenpandaman commented on #79
@issei-m Yup, he messaged me a few hours ago too. Was planning to get to it later tonight. 😉

[2019-04-29 10:17] frozenpandaman commented on #79
Wow, Nintendo changed stuff up quite a bit, introducing a new `f` token and some other stuff at a different point in the login process. (I don't think I'm going to re-TeX that diagram on the API docs page for a third time, tbh…)

Working now. :) Will make it live soon.

[code]

(Going to take a few days to get the executable versions updated though, but doubt that'll be of concern to too many peop

[2019-04-29 10:29] #79 closed

[2019-04-29 10:30] frozenpandaman commented on #79
Hah, now both the NSO app and this script are version 1.5.0. :P

[2019-04-29 11:27] frozenpandaman commented on #83
OK, I looked more into this and it's going to be a pain, imo, to restructure. And I'd sort of prefer to not do it. In the specific case you want to be running two copies of the script at the same time, from the same computer… I'd suggest just downloading the script twice, i.e. having two directories, named `splatnet2statink-person1/` and `splatnet2statink-person2/` or whatever. Or even just symlin

[2019-04-29 15:50] martinemde commented on #83
Makes sense. I tried coding it before too and ran into the same problem
that the structure does not make it easy to do. I’ll just write a script to
swap files.

On Mon, Apr 29, 2019 at 4:27 AM eli fessler <notifications@github.com>
wrote:

--
Martin Emde

[2019-04-29 21:18] frozenpandaman commented on #83
Sounds good. :)

[2019-04-29 21:18] #83 closed

[2019-06-06 23:18] vlee489 opened #85 "ascii decode issue"
Trying to upload battles using the `-r` parm and I get thrown this error

[code]

[2019-06-06 23:47] frozenpandaman commented on #85
uuuugggghhh unicode. also ugh python 2.

related: #84

can look more into this later

[2019-06-06 23:50] vlee489 commented on #85
Yeah, I had a look at it earlier. There's a proper way in python 3 to deal with this issue, but it's a bit of a mess in python 2.

I mean it's probably time this tool gets rewritten for Python 3 with the fact python 2 is reaching its end of life in 6 months.

[2019-06-06 23:52] vlee489 commented on #85
my ign is: Я>>Vincent

That `Я`will likely be the issue.

[2019-06-07 00:12] frozenpandaman commented on #85
You can use it with Python 3, and have been able to for a while. :)

[2019-06-07 00:18] vlee489 commented on #85
Ah, my pip3 install was broken, hence I was missing dependencies, but I've ran it in python 3 and it works fine. If it's an issue related to Python 2, then there isn't much to worry about, I would just explicitly say at this point that this tool needs to run in python 3.

[2019-06-07 00:36] frozenpandaman commented on #85
Yeah, I originally wanted to make the script as accessible to as many people as possible and therefore was thinking people could use this with the default Python 2 install that came with macOS. But Python 3 is heavily encouraged. We just used `future` to have both supported (for now).

With Python 2 nearing its EOL, as you said, plus with the announcement at WWDC this week that future versions of

[2019-06-10 00:27] gomtuu commented on #85
I ran into the same problem with Python 2.7.9. Did a quick Google search and found [this issue that looked relevant](https://bugs.python.org/issue34145). So I changed:

`        payload["uuid"] = str(uuid.uuid5(namespace, name))`

to:

`        payload["uuid"] = str(uuid.uuid5(namespace, name.encode('ascii')))`

and it worked.

But that probably won't work in Python 3, so you'd need to detect the

[2019-06-13 07:48] frozenpandaman commented on #85
Oh, weird. So nicknames aren't coming into this at all… I don't really understand the source of the error, then, and I'm not able to reproduce it. Shouldn't `name` *always* be a string, no matter the Python version? It's just made of the format `battle_number` (also a string) + `"@"` + `principal_id` (also a string) after all… Based on the bug @gomtuu linked, it seems this is the fault of the uuid

[2019-06-13 07:51] frozenpandaman commented on #85
@vlee489 @gomtuu Can you confirm this works? Thanks!

[2019-06-13 07:51] #85 closed

[2019-06-16 21:04] gomtuu commented on #85
Works for me! Thanks!

[2019-07-03 22:21] guigas7 opened #86 "Error from the flapg API: Error 404 (incorrect headers)"
Just had this.
![image](https://user-images.githubusercontent.com/11247506/60628348-78aa7300-9dc7-11e9-9c33-4956fc34fd00.png)
I tried removing my config.txt and reentering the api key and all that but i'm still getting the same error

[2019-07-03 22:23] guigas7 commented on #86
splat is just an alias
![image](https://user-images.githubusercontent.com/11247506/60628500-0a19e500-9dc8-11e9-8840-a8041661a464.png)

[2019-07-03 22:43] frozenpandaman commented on #86
Reported on Twitter earlier as well: https://twitter.com/tkgling/status/1146435612808867840

Something must've changed on the flapg API end of things... I've reached out to NexusMine for more information.

[2019-07-04 03:55] frozenpandaman commented on #86
The server just went down. It should be back up soon.

[2019-07-04 18:04] #86 closed

[2019-07-18 21:08] Wolfy76700 opened #87 "Finalfest Shifty Station data isn't getting sent to stat.ink properly"
The stage just displays as "Unknown" on [my Stat.ink profile](https://stat.ink/@MathiasWolfbrok/spl2)

[2019-07-18 21:17] frozenpandaman commented on #87
Wow, so they *did* update the stages API at the last minute to include all the different variants… (cool!!!)

I can look into + fix this soon! Sorry for the trouble.

You should be able to manually edit the battles on stat.ink to display the correct stage since @fetus-hina has already added that functionality to the site. :)

[2019-07-18 21:25] Wolfy76700 commented on #87
Yeah, I did notice all of my previous Splatfest battle data was upgraded :-) Thanks!

[2019-07-18 22:08] frozenpandaman commented on #87
Yup!

[2019-07-18 22:41] fetus-hina commented on #87
@Wolfy76700
Sorry for inconvenience.
Please wait a while about past battles. I'll update data after exists 23 stages appeared.

FYI:
About the battles to be performed: If filled the "SplatNet 2" column of [this page](https://stat.ink/api-info/stage2), the stage of the battle will be recorded correctly. Otherwise (if empty), they will be updated later, unfortunately.

[2019-07-19 01:52] 466gaming opened #88 "Specific battle fails to upload (fest exp must be an integer)"
When trying to upload a specific battle, this error message shows up:
![image](https://user-images.githubusercontent.com/17676761/61503448-ba463b00-a9cf-11e9-8830-3ded5a1ff624.png)
No other battle (so far) has had this issue.
I don't know if it's of any use, but here's the battle stats from SplatNet 2:
![image](https://user-images.githubusercontent.com/17676761/61503553-098c6b80-a9d0-11e9-8e9f-8f4

[2019-07-19 02:14] frozenpandaman commented on #88
WOOOWWWW OK, this is going to be a pain to look into… (I think). I can try to figure this out in a few hours. Thanks for the heads up, @466gaming! Could you please send me the relevant battle json so I can debug?

To do that:

1. Find out what battle number this is occurring for (e.g. look at what the one right before this that got uploaded to stat.ink correctly is, and just add 1)

2. Navigate to

[2019-07-19 02:18] frozenpandaman commented on #87
they should be looking correct on the stat.ink side now! (because hina updated stat.ink & s2s sends stage IDs in [`#key` format](https://github.com/frozenpandaman/splatnet2statink/blob/c738caff22c97896d324e53a492e15b5e00ab0b6/splatnet2statink.py#L824-L828))

started adding the known IDs in c738caf, too

[2019-07-19 02:18] #87 closed

[2019-07-19 02:56] 466gaming commented on #88
Thanks for responding so quickly!
The battle json is here:
https://gist.github.com/466gaming/b7efce5cc8a8e4ce993b60c69808b45d

[2019-07-19 05:21] frozenpandaman commented on #88
Weird, it's some Python 3-only floating point rounding error when multiplying with the `synergy_mult` (x1.1 in your battle) – `fest_exp` was being set to… 0.9999999999999858 (so, yes, not quite an integer) 😅

Fixed. Thanks!

[2019-07-19 05:21] #88 closed

[2020-03-12 11:59] InternalLoss opened #91 "splatnet2statink v1.5.3's cookie regeneration returns an upgrade error"
It seems Nintendo has updated their app again (iirc in time for Animal Crossing: New Horizon's new features) - trying to regenerate the stored cookie returns:
[code]

[2020-03-12 19:16] frozenpandaman commented on #91
Thanks for the heads up! I noticed the app icon updated recently as well.

I'm traveling (on a train right now, going on 27 hours!) so can't check myself – @InternalLoss, could you try changing all instances of "`1.5.2`" in your local copy of [iksm.py](https://github.com/frozenpandaman/splatnet2statink/blob/master/iksm.py) to say "`1.6.1`" instead, run the script again, and see if that fixes/chang

[2020-03-13 03:42] tkgstrator commented on #91
In my research, splatnet2statink failed to get splatoon access token at the point `https://api-lp1.znc.srv.nintendo.net/v1/Account/Login` then, Nintendo Server response `Invalid Token`.

Conclusion, we may update not only 'User-Agent' but also s2s or flapg API.

[code]

[2020-03-13 20:07] e-foley opened #92 "Unexpected "Too many requests" error using v1.5.3"
I repeatedly get a "Too many requests" error when running splatnet2statink.py, even despite waiting hours between attempts. I'm running v1.5.3, and I've historically had no issues running this version. I first noticed the issue about three or so days ago. I run on Windows 10.

Command executed:

[code]

Output:

[code]

[2020-03-14 15:08] DustinDEV2more commented on #92
Same here

[2020-03-14 17:13] InternalLoss commented on #91
Yeah, simply trying to update to 1.6.1.2 results in simply
[code]

[2020-03-14 17:18] frozenpandaman commented on #92
I'm traveling now but will be able to look at this hopefully within the next week. Probably related to #91.

[2020-03-15 04:52] Jasper128 commented on #91
getting this error since tonight:

`PS C:\Users\User\splatnet2statink> python splatnet2statink.py -r
splatnet2statink v1.5.3
The stored cookie has expired.
Attempting to generate new cookie...
Error(s) from Nintendo:
{
  "access_token": "_[long string of numbers and letters, removed it in case it's sensitive login info]_",
  "id_token": _[long string of numbers and letters, removed it in case it's

[2020-03-16 23:04] #91 closed

[2020-03-16 23:05] #92 closed

[2020-04-03 05:23] ZweiSpeedruns opened #95 "Error from flapg API"
![image](https://user-images.githubusercontent.com/18094080/78326952-4211ac80-7541-11ea-9bbb-98a75d7e2976.png)
[code]

[2020-04-03 06:49] ariankordi commented on #95
I have also received this, I started getting this at least five hours ago.

If you actually visit the endpoint it's trying to reach, https://flapg.com/ika2/api/login?public, it will show a response body of
[code]
, which will roughly translate to that the app needs to be updated. Since it's an Android server running, it will have to be done manually.

As implied in this issue comment by Eli: https

[2020-04-03 09:12] tkgstrator commented on #95
In my research, in case we call flapg API with 'x-ver: 3' parameter, the server responds 404 error. Moreover, previous update had changed that not using 'id_token' which is the one of responses of 'api/token' but it seems to be using again.

[2020-04-03 10:24] frozenpandaman commented on #95
I've reached out to NexusMine for more info. :)

[2020-04-03 22:27] frozenpandaman commented on #95
Just tried again and everything's working properly as-is now, guess it just went down for a bit. NexusMine shared a JS file with me as well to check against and we're doing everything properly. :)

[2020-04-03 22:27] #95 closed

[2020-04-08 01:03] guigas7 opened #96 "Error from the flagp API: Error 404 (offline or incorrect headers)"
![image](https://user-images.githubusercontent.com/11247506/78733438-d736eb80-791b-11ea-94a2-0e8cd22c78e4.png)

Haven't used splatnet2statink since 4/4 and now it does this, tried deleting config but still the same problem.

[2020-04-08 09:22] frozenpandaman commented on #96
Seems to work now. I'm guessing the API was just temporarily offline, same as in #95.

[2020-04-08 09:22] #96 closed

[2020-04-13 18:10] InkxtheSquid opened #98 "1.5.4 session token fails to make cookie"
my session token expired recently and I was about to make a new one until somehow no cookie is being made at the moment, if this is happening a lot then I guess I should speak up about it

[2020-04-13 19:23] InkxtheSquid commented on #98
Update: did a little debugging and I think the get_hash_from_s2s_api is screwy

[2020-04-19 01:58] cgbuen commented on #98
flapg has been giving me a 404 whenever I've actually tried hitting the login endpoint over the last several days - @InkxtheSquid @frozenpandaman have you guys had any recent luck using this in the past week?

[2020-04-19 08:10] frozenpandaman commented on #98
@cgbuen Just tried right now and it works for me.

[2020-04-19 12:11] cgbuen commented on #98
@frozenpandaman I think I've figured out what's going on, at least for the node application I've been working on, and just wanted to get this out there somewhere (wasn't sure if it was worth opening a new GitHub Issue for).

flapg appears to have recently stopped accepting timestamps in milliseconds (the value given by `Date.now()` in JS). Dividing it down to seconds now yields me a response with

[2020-04-19 12:23] frozenpandaman commented on #98
@cgbuen Hmm. The JS code that NexusMine passed me (so I could verify everything in iksm.py was correct) uses `"" + (new Date).getTime()` to generate the timestamp for the `x-time` header, which seems to return the same value/format as `Date.now()`.

[2020-04-19 20:03] cgbuen commented on #98
Yeah, those two things do yield the same thing in JS, so that's a bit strange that that would be the means to verify.

I still contend that something new is happening here where seconds are preferred over milliseconds now - I just tried running splatnet2statink.py with the following:

  	timestamp = int(time.time()*1000)

And see it failing, whereas it works without the multiplier.

I've fiddling

[2020-04-24 16:31] ofiala-a51 opened #99 "splatnet2statink API is overloaded"
When I need to generate new cookie, most of the time I just get "Too many requests error" from the splatnet2statink API that generates them. Guess that's not the way it should be, that's why I'm reporting it.

[code]

[2020-04-24 16:37] frozenpandaman commented on #99
From the API docs:

Can you confirm this is still happening after waiting a bit? I'll check out the server logs later, when I can, to see if anything looks odd.

[2020-04-24 16:44] ofiala-a51 commented on #99
Aha, I see. It works after waiting a bit, sure, I just thought maybe the limit should be higher, since I get that error almost every time I need to regenerate the cookie..?

[2020-04-25 10:25] frozenpandaman commented on #99
It was just increased 2x following the changed in a971a21 – I would have guessed usage was higher over the past couple days due to the Splatfest but looking at the [stat.ink daily reports](http://elifessler.com/s2s/), it doesn't seem to be, huh.

Anyway, oof – got around to checking the logs and there are two IPs constantly spamming requests over and over (probably someone's autorun script gone ha

[2020-04-25 10:25] #99 closed

[2020-04-27 19:24] InkxtheSquid commented on #98
I have a gut feeling that flapg does blocking, cuz if the code is working for others then what's the deal of those who fail with it?

[2020-04-27 20:05] frozenpandaman commented on #98
Yeah, maybe, uh, don't spam both of our servers  every minute? Sorry to be blunt, but what led you to thinking that was OK in any way? And why in god's name was this the default? Did you not read the usage guidelines? What led you to wanting a cookie every minute? I just blocked an IP on the domain level that had been spamming my site for the past week, which is by no stretch of the definition abu

[2020-04-27 20:08] #98 closed

[2020-04-27 20:14] InkxtheSquid commented on #98
my deepest apologies thanks for letting me know what was going on I should've known sooner at this rate...

[2020-04-27 20:24] frozenpandaman commented on #98
@InkxtheSquid In looking at [your bot](https://github.com/InkxtheSquid/Inkxbot), if all you need is generally-available schedule (map rotation) info, or stuff from Annie's Shop – i.e. not player-specific battle statistics and records – please use the splatoon2.ink API instead. It's also a ton simpler to use and doesn't require you generating user cookies, naturally. This is mentioned in the s2s AP

[2020-04-27 20:27] InkxtheSquid commented on #98
@frozenpandaman I tried it once before but one time it couldn't retrieve anything from it for some reason I even contacted the dev of splatoon2.ink and he said everything was fine but I was still having problems

[2020-04-27 22:17] frozenpandaman commented on #98
@InkxtheSquid What error did you run into? I recommend people use it because it makes life a lot easier, yours included... If you need help troubleshooting I can maybe try and help, but please do work on using that instead of this, per recommendation, and following the usage guidelines.

Also, the s2s API doesn't give "dedicated access" to Nintendo servers, it's just able to help you generate toke

[2020-05-03 19:44] niyari opened #100 "cannot access "raw.githubusercontent.com", the app will stop."
https://github.com/frozenpandaman/splatnet2statink/blob/d59c0466acf1df8e9aad17b5a8f97e7d90f33b6d/splatnet2statink.py#L223

[2020-05-04 11:18] frozenpandaman commented on #100
Hmm, I guess hardcoding URLs to do this sort-of-hacky thing isn't that great in retrospect… and it's not like weapons are still being added to the game, though this was helpful at the time… but the URL works fine for me and the script runs fine. What error are you getting?

[2020-05-04 11:20] frozenpandaman commented on #100
Also congrats on issue #100! 🎉😛

[2020-05-04 19:44] niyari commented on #100
This issue occurs when NSO and statink are working fine and raw.githubusercontent.com is not working properly.
(HTTP 50x,40x...error. or network error on computer side.)
When the program gets the latest code on github and compares the versions, an error occurs because the character string cannot be extracted.
When the phenomenon appeared at me, I was temporarily commenting out the version check an

[2020-05-05 09:40] frozenpandaman commented on #100
Ahh, oops – that makes sense, yeah, in the case GitHub is down (or your internet is out, or something). The try statement should be around the whole thing, including that first call to the URL. 😅

I don't think it warrants a version bump, but now fixed in 2ad29c7! Thanks!

[2020-05-05 09:40] #100 closed

[2020-05-14 04:39] allycatty opened #102 "Not generating cookie & not working with old saved one"
Tried with multiple accounts same issue across all.

`Wrote session_token to config.txt.`
`Attempting to generate new cookie...`
`ally@veemo:~/veemo/splatnet2statink$ python splatnet2statink.py`
`splatnet2statink v1.5.4`
`Pulling data from online...`
`Blank cookie.`
`Attempting to generate new cookie...`
`ally@veemo:~/veemo/splatnet2statink`

[2020-05-14 08:43] frozenpandaman commented on #102
Hm, I can't seem to replicate this:
[code]

Is this still happening? Have you tried deleting your `config.txt` and trying from scratch (not just clearing `cookie` from it as your output suggests)?

[2020-05-14 11:41] allycatty commented on #102
Hey Eli!
Yeah I have a little vps that runs checks for a few of my not so tech savvy
friends. I tried all of their config files, as well attempting to generate
a new one for my self from scratch. Just like in the output I posted in the
github, it doesn't even return an error just goes right back to the
console. Is there a a version of the python script that has a debug mode? I
could send you the o

[2020-05-15 08:48] frozenpandaman commented on #102
Hm, I really have no clue, but I would guess it's dependent on the setup of your VPS/server. Does it work if you try running it locally? I would think it'd _always_ return some sort of error – whether caught/handled by the script or maybe accidentally not – but not just pass silently. There's no special debug mode, just editing the file and manually adding in print statements really (again all of

[2020-05-16 17:39] allycatty commented on #102
Yeah running it locally work so I have no doubt the ip probs got blocked. I'm so sorry for banging on your server too much and also not thinking to try running it locally first... I'd say I'd a python noob but that statement would be... generous....  The vps checks for 6 people with the default time for the -M flag but even with each person only checking every 5 min I'm sure a lot overlapped and i

[2020-05-16 17:39] #102 closed

[2020-06-14 20:32] Link8451 opened #103 "monitoring mode causing exception"
i set the monitoring mode to check every 5 min and when it finds a match an exception occurs which causes a cascade of other exceptions
![image](https://user-images.githubusercontent.com/40288663/84603454-d060b380-ae4b-11ea-8e68-6a2db57f0989.png)
![image](https://user-images.githubusercontent.com/40288663/84603462-ea01fb00-ae4b-11ea-92b6-1018eb8030bc.png)

[2020-06-15 04:37] Link8451 commented on #103
i found that it only seems to happen if i go out of focus from the powershell window

[2020-06-15 05:20] frozenpandaman commented on #103
This seems to be a PowerShell-specific issue, then, or something to do with your setup, where if it loses focus it interrupts a web connection request. This is working fine for me, i.e. I can confirm app.splatoon2.nintendo.net is not down or anything.

[2020-06-15 05:20] #103 closed

[2020-09-16 11:04] chz16 opened #107 "Precompiled Mac version can't find pkg_resources.py2_warn"
Trying to run the precompiled version of 1.5.6 on macOS 10.14.6 dies with this trace:

[code]

Might be a Setuptools thing? https://github.com/pypa/setuptools/issues/1963

[2020-09-16 11:20] frozenpandaman commented on #107
Oops, sorry about that, and thanks! Seems I still had PyInstaller 3.5 installed. Just upgraded to 4.0 and rebuilt it, and tested to make sure it works – and it does now! Just updated zip on the [releases page](https://github.com/frozenpandaman/splatnet2statink/releases). Thanks again for catching this!

[2020-09-16 11:20] #107 closed

[2020-09-17 10:26] MonsieurA-SP opened #108 "error from the flapg API"
Hi!

The Windows version used to work fine, but now I have this.

Thanks a lot for your work and hope you'll be able to solve this !

[2020-09-17 10:30] frozenpandaman commented on #108
Might just be temporarily down. How long has this been happening? Try again later, and if this is still occurring in a day or two then let me know here.

[2020-09-17 12:47] MonsieurA-SP commented on #108
Thank you for your answer.
It's been happening since last night.
I will try again later.

[2020-09-17 18:28] radsutton commented on #108
Hi.
I've also had the same issue.

[2020-09-17 22:56] frozenpandaman commented on #108
Hah, sorry, left that last comment hastily and pretty late at night without reading the error message in full… the flapg API's Android server needs to have its version of the NSO app updated (this was why s2s updated a couple days ago as well, #106). I assume NexusMine will get to this shortly!

[2020-09-18 00:31] radsutton commented on #108
OK, thanks for the speedy answer! Hope so!

[2020-09-18 01:57] Jasper128 opened #109 "Automatic cookie creation is broken"
I updated to v1.5.6 recently and now it will no longer try to create cookies automatically.
It says it is attempting to try to generate the cookie, but it immediately stops and doesn't generate one.
So the command is repeated again and it seems to fail, but it doesn't give out an error. Looks like this:

`PS C:\Users\User\splatnet2statink> python splatnet2statink.py -r
splatnet2statink v1.5.6
Blan

[2020-09-18 03:06] frozenpandaman commented on #109
Likely the same as #108, so closing for now. Please don't have your script/setup constantly retry upon failure to generate a cookie, though, as this puts strain on my personal web server.

For why mitmproxy may not be working, see the [mitmproxy instructions](https://github.com/frozenpandaman/splatnet2statink/wiki/mitmproxy-instructions) page, specifically the note at the very top – you need to us

[2020-09-18 03:06] #109 closed

[2020-09-20 19:32] rinsuki commented on #108
looks fixed?

[code]

[2020-09-20 19:35] ofiala-a51 commented on #108
Can confirm, issue is fixed.

[2020-09-20 19:37] frozenpandaman commented on #108
Yay! I'm glad. Thanks for the update. :)

[2020-09-20 19:37] #108 closed

[2020-10-25 00:37] UmbreonRyguy opened #111 "S2S unable to change the script for what S2S uploads to stat.ink"
when I run S2S it automatically asks to enter a number 0-50 of the battles you want to upload but there is no way to change it to the other options like /path/to/splatnet2statink.exe -M 900 which puts it in monitoring mode or /path/to/splatnet2statink.exe --salmon -r which updates all salmon run matches. how can I fix/change it?

[2020-10-25 01:33] ofiala-a51 commented on #111
You have to run it with those options if you want that functionality. So instead of executing `splatnet2statink.py`, you have to execute `splatnet2statink -M 900` if you want to run it in monitoring mode and check each 900 seconds. Similarly for the other options.

[2020-10-25 01:42] frozenpandaman commented on #111
I assume you're clicking on the pre-compiled executable version of s2s, not running the Python file from the command line. In this case, you'll need to open your terminal (Command Prompt/PowerShell) yourself first, drag in the .exe file (or manually type in the location of it), and then type the options after to run it.

[2020-10-25 02:41] UmbreonRyguy commented on #111
thx

[2020-10-25 02:56] #111 closed

[2021-02-24 20:57] lucyy-mc opened #114 "AUR package"
Hiya!

No issue here, just thought I'd let you know I've published a package on the Arch User Repository [https://aur.archlinux.org/packages/splatnet2statink/](https://aur.archlinux.org/packages/splatnet2statink/). I'm still new to packaging and this seemed like a great first project.

[2021-02-25 02:13] frozenpandaman commented on #114
Very cool! Thanks for letting me know! :D

[2021-02-25 02:13] #114 closed

[2021-03-12 21:08] TomoTom0 opened #115 "初めてiksm sessionを取得する際に、エラーが生じてしまう"
このようなprogamを組んでいただき、いつも大変お世話になっています。
とても些細な点なのですが、はじめてこちらを利用させていただいた際にハマってしまったバグがあるので、報告させていただきます。

とはいっても、問題点と解決方法は判明しています。
`iksm.py`内の`get_hash_from_s2s_api`は試行回数を`config.txt`に記録する形式をとっています。

[code]

try, exceptでconfig.txt内にapi_errorsが保存されていないcaseは想定されていますが、
そもそも初めて利用する場合などにconfig.txtが存在していないと、openでこけてしまいます。
(しかも、まさかこの段階でconfig.txtが必要だとは想定しづらく、エラー箇所の発見には手間取ります。)

もし可能でしたら、以下のように、openの部分もtry節に含めて

[2021-03-13 08:03] DaYu525 opened #116 "Need more info about self."
Hello, I find a telegram bot [Sp2battlebot](https://github.com/JoneWang/sp2battlebot). It can get my info more detailed. I want it can dispaly in stat.ink too. So could you please add this api.

![1021615622547_.pic_hd](https://tva1.sinaimg.cn/large/008eGmZEly1goic75fqwlj30o40k6gxx.jpg)

[2021-03-13 10:24] frozenpandaman commented on #116
Hi,

I'm not familiar with this project or exactly what you're asking. I don't think stat.ink supports displaying things like bronze/silver/gold medals based on league placements – if you want that (or other stat.ink website features) to be supported, you'll need to ask @fetus-hina over at https://github.com/fetus-hina/stat.ink.

Thanks for bringing this project to my attention, though. It is masq

[2021-03-13 10:24] #116 closed

[2021-03-13 11:33] #115 closed

[2021-03-13 11:33] frozenpandaman commented on #115
ありがとうございます！！微妙なバグでしたね。直したばかりです。😊

[2021-03-16 06:33] JoneWang opened #117 "Request to use your api in my application."
I have developed two applications:
- [Sp2BattleBot](https://github.com/JoneWang/sp2battlebot) - Get game data in telegram.
- [imink](https://github.com/JoneWang/imink) - View and record game data in iOS. (In development)

Would like to use your API when logging in. Hope you will agree.

I will do the following things:
1. I will ask @NexusMine for permission at the same time.
2. The code I will ope

[2021-03-29 13:30] iraizo opened #118 "Salmon monitoring"
Hello, im a user that normally runs splatnet2statink in a systemd service so it 24/7 uploads my statistics if my pc is on, the problem im having is that the salmon run mode does not support that, let alone the fact that you need to start the script twice and have 2 different services everytime, i achieve monitoring mode by using:

[code]

But this does not really fix the issue but is a workaround.

[2021-04-01 23:47] frozenpandaman commented on #117
Hiya! Sorry, I was away from my computer for some time. I replied to briefly you on Twitter about this already, but yes, no problem! Sounds great. Please make sure to use properly-formatted, unique user agent string(s) so I know it's your app(s) making requests to the API. :)

Feel free to release imink on the Apple App Store, which you mentioned, as well! Thanks. :)

[2021-04-01 23:47] #117 closed

[2021-04-01 23:55] frozenpandaman commented on #118
Hi! The Salmon Run functionality is sort of a separate service, mirroring the separate mode of the game (as both can't be played at the same time), and was added in long after the initial release of the script due to the fact Salmon Run stats weren't present in the NSO app until a while into the game's life. The script also isn't originally intentioned to be run as a daemon/always-on service and,

[2021-04-01 23:55] #118 closed

[2021-04-02 01:06] iraizo commented on #118
Thanks for the reply, and I defenitly understand why you wouldn't add that since splatoon 3 already has been announced, and yes i am only running the script when playing splatoon 2 but i still like to have services for it, thanks for making this script tho, saves me a lot of time :)

[2021-04-02 01:12] frozenpandaman commented on #118
Glad it's useful!! :)

[2021-04-02 10:04] JoneWang commented on #117
Thank you very much!

[2021-04-14 02:15] DaYu525 opened #120 "Could not decode binary that contained an image data"
Battle uploaded to https://stat.ink/@20789647/spl2/3689791
Error uploading battle. Message from server:
{
    "error": {
        "image_result": [
            "Could not decode binary that contained an image data."
        ]
    }
}
Battle uploaded to https://stat.ink/@20789647/spl2/3689805

[2021-04-14 02:20] #120 closed

[2021-04-14 02:26] DaYu525 commented on #120
I checked the nintendo online app and stat.ink, that failed upload data have uploaded succeed in succedent upload action.

[2021-04-14 06:46] frozenpandaman commented on #120
Sounds like stat.ink just messed up for a sec, I presume, but glad you got it worked out!

[2021-08-16 07:49] JoneWang commented on #117
Hi. Thank you and @NexusMine for the api.

I have recently implemented the f generation. I will use imink api instead of s2s api and flapg api in the next version of imink.

During the promotion of imink users often got login errors due to the request limit of the s2s api. s2s api has a request limit of only two users per minute. During the promotion period we had 4-5 users per minute logging into

[2021-08-17 23:38] theatredays opened #124 "Not able to generate cookie: "Upgrade required""
Hello! Was able to view Splatnet on the web a few days ago using this script to generate a cookie. Wasn't working for me today, so I tried to generate a new cookie but getting this error:

[code]

[2021-08-18 01:59] frozenpandaman commented on #124
Sorry, I've been really busy – this will get fixed when #123 gets merged. I'll try to get around to it tonight.

[2021-08-18 01:59] #124 closed

[2021-08-18 03:16] frozenpandaman commented on #124
@theatredays Fixed now!

[2021-08-18 17:53] theatredays commented on #124
Works great now, much appreciated!! Thanks for creating this script! 😄

[2021-09-03 11:56] frozenpandaman commented on #117
@JoneWang Wow, that's a lot. I'm glad you were able to find an alternative solution. Thank you for the update and support!

[2021-09-29 17:56] Lekuruu opened #126 "splatnet2statink version update required"
Every time I tried to use it, the console spitted out this error:
[code]

[2021-09-29 21:05] frozenpandaman commented on #126
OOPS. Fixed. 😅

[2021-09-29 21:05] #126 closed

[2021-10-08 01:00] luiscarlospando opened #127 "Stuck at "attempting to generate new cookie...""
Hi, I have never had any issues before, but today when trying to upload my battles using `python splatnet2statink.py -r` the app suddenly stops after getting the `Attempting to generate new cookie...` message.

Has anything changed from Nintendo's side?

Can you try uploading new battles?

Thanks.

[2021-10-10 07:47] luiscarlospando commented on #127
Nevermind, I think the problem was on my end. I tried running it on another computer and it worked flawlessly.

Sorry for the bother!

[2021-10-10 07:47] #127 closed

[2021-10-10 10:28] frozenpandaman commented on #127
Sorry I didn't have time to look at this yet, glad you got it figured out!

[2021-10-23 08:03] frozenpandaman opened #129 "Automatically updating NSO app headers"
[via](https://github.com/frozenpandaman/splatnet2statink/commit/6f39882a07843f9c52be87059fda2b313e93ee9f#commitcomment-58531127) @tom-morita

[2021-10-26 23:37] ovandermeer opened #130 "Unable to generate new cookie with 1.6.0 update"
Today I updated to 1.6.0, and it seems that I can't generate a new cookie. When I launch the software I get the following error:

[code]

Sometimes I will only see this error, which just seems like a shorter version of the previous error:

[code]

I tried a clean install of the software, before this clean install it said "outdated cookie" instead of "blank cookie". Note that it also did have a ver

[2021-11-01 14:50] ovandermeer commented on #130
Yup, its all working for me now. Thank you very much!

I'm not sure exactly at what point I was "outdated cookie", but I'll reply to this thread if I happen to see it again.

[2021-11-01 14:50] #130 closed

[2021-11-02 22:39] niyari commented on #129
I noticed that there are several ways to do this.
https://github.com/niyari/splatnet2statink/commit/9dc7e042b3094d5e4bf5dc2bf3d32a7c8635c5a2

- Get from the Japanese support page. It's more maintained than other languages.
   https://www.nintendo.co.jp/support/app/nintendo_switch_online_app/index.html
- Get from the Google Play page, scrape string from the HTML.
   https://play.google.com/store/ap

[2021-11-02 22:43] frozenpandaman commented on #129
@niyari Thank you!! I saw [your tweet](https://twitter.com/sou_niyari/status/1455268865290555396) about this too but didn't have a chance to reply yet. 😅

Thanks for looking into this and the different ways to accomplish it! All of those seem pretty decent and may all work in practice. Will give some more thoughts soon.

[2021-11-11 10:55] frozenpandaman commented on #129
I'm going to play with this when the NSO app & store listing next updates – then will be able to have a real, live webpage to test it against and see what's best. :)

[2021-11-26 18:13] luiscarlospando opened #131 "'ModuleNotFoundError' is not defined error"
I don't know if it's just me or what but since I updated to the latest version I get the following error:

[code]

Can you please help me?

[2021-11-26 18:20] frozenpandaman commented on #131
@luiscarlospando What version of python are you using? You can run `python --version` to find out.

[2021-11-26 18:27] luiscarlospando commented on #131
Currently I'm using `v2.7.17` on macOS.👀

[2021-11-26 18:29] frozenpandaman commented on #131
Python 2 was deprecated on January 1, 2020. You'll want to use Python 3, which is the current, modern version. :) It's easy to get on macOS. From the readme:

Hope this helps!

[2021-11-26 18:43] luiscarlospando commented on #131
Thanks for your help, gonna update right away!

[2021-11-26 18:43] #131 closed

[2021-12-09 10:28] #129 closed

[2022-02-04 20:42] cosmunautic opened #135 "Modify Match Searches: Introduce the "Set Date Range""

[2022-02-05 07:26] frozenpandaman commented on #135
Hi @cosmunautic, can you give more information on what you mean or want?

[2022-02-05 08:07] cosmunautic commented on #135
This should actually be on the stat.ink repository, not here! My apologies for the confusion.  I'm on night shift :) I'll close this issue.

[2022-02-05 08:07] #135 closed

[2022-05-11 22:52] luiscarlospando opened #138 "Error from the flapg API: Error 404 (offline or incorrect headers)."
[code]

Any clue about what's happening?

Thanks!

[2022-05-11 23:36] guigas7 commented on #138
same here
![image](https://user-images.githubusercontent.com/11247506/167964257-d3af9df1-0007-45ea-a8e9-720c73154cd2.png)

it's been going on for a few days

[2022-05-12 06:08] frozenpandaman commented on #138
Will look into it (by which I mean I asked NexusMine, lol).

We might be able start running this API ourselves, in preparation for supporting Splatoon 3, if @clovervidia is up for the challenge. Here's the JS code, which uses Frida, that we'd have to port over:
https://github.com/samuelthomas2774/nxapi/commit/2005f34780b9209d0c4568a508638ae8d55aec76

Here were some other folks on Reddit willing to

[2022-05-12 06:10] frozenpandaman commented on #138
Will look into it (by which I mean I asked NexusMine, lol).

We might be able start running this API ourselves, in preparation for supporting Splatoon 3, if @clovervidia is up for the challenge. Here's the JS code, which uses Frida, that we'd have to port over:
https://github.com/samuelthomas2774/nxapi/commit/2005f34780b9209d0c4568a508638ae8d55aec76

Here were some other folks willing to help (I'v

[2022-05-15 09:14] JoneWang commented on #138
It is also possible to use the [imink api](https://github.com/JoneWang/imink/wiki/imink-API-Documentation). imink api is free and accessible for free. And it has a [status page](https://status.imink.app) for monitoring availability.

[2022-05-16 08:05] frozenpandaman commented on #138
@luiscarlospando @guigas7 Seems to be working now.

@JoneWang Thanks a ton! Ideally, in the near future (in preparation for Splatoon 3 stuff), I'd like get this up & running & integrated into the s2s API again – so the script doesn't need to make requests to all these various other servers. (And then if something does go wrong or mess up, we can fix it on our end instead of waiting for third-party

[2022-05-16 08:05] #138 closed

[2022-05-16 09:51] JoneWang commented on #138
I did not use Frida. My implementation would probably be simpler and maintenance free.
I will send you a message in Twitter.

[2022-05-26 16:21] Polyotu opened #139 "splatnet2statink-v1.7.1-Windowsのsplatnet2statink.exeを実行すると，error: Too many requestsが発生する"
2022/05/26から，以下のエラーが出て停止してしまいます．

[code]

実行した後のconfig.txtは次のようになっていました(一部xに置換して伏せています)．
[code]

過去のissueと比較して，#92, #91と近いのではないかと考えています．

v1.7.1のsplatnet2statink.pyを実行しても同様の状態になることを確認してから，
iksm.pyの331行目でapi_responseをprintさせると出力は次のようになっていました(一部xに置換して伏せています)．
[code]

[2022-05-26 23:29] guigas7 commented on #139
same here
![image](https://user-images.githubusercontent.com/11247506/170595607-0f76ad69-69ba-49b1-b977-a6f51d0fad7b.png)

[2022-05-27 21:57] frozenpandaman commented on #139
Thanks! So sorry – someone was spamming the server with an unrecognized user agent. They've been blocked. That takes care of the "Too many requests" issue…

Not sure about the "Upgrade required" thing, will look into it.

[2022-05-27 22:05] frozenpandaman commented on #139
Seems Google changed up the app's [Play Store page design](https://play.google.com/store/apps/details?id=com.nintendo.znca&hl=en_US&gl=US) and there's no way (??) to extract version # from it anymore. So the app updated to 2.1.1 but the headers couldn't auto-update. I changed it to scrape the iOS App Store page instead.

Fixed in 809564e / v1.7.2.

ありがとうございます、 @Polyotuさん！直しました。😊

[2022-05-27 22:05] #139 closed

[2022-05-27 23:04] TakuKatayama opened #140 "v1.7.2に更新後 "splatnet2statink version update required"が発生する"
以下のエラーが発生するようになりました。

splatnet2statink v1.7.2
Pulling data from online...
Blank cookie.
Attempting to generate new cookie...
Error from the splatnet2statink API:
{
  "error": "splatnet2statink version update required"
}

[2022-05-27 23:20] frozenpandaman commented on #140
すみませんです！！
直しました。今からOK。

[2022-05-27 23:20] #140 closed

[2022-05-27 23:55] Polyotu commented on #139
対応ありがとうございます！

[2022-06-17 23:59] frozenpandaman commented on #138
@JoneWang Just want to say sorry for the late reply here, have been busy and preparing for some upcoming travel – but I got your Twitter DM and will reply shortly! 🙏

[2022-08-01 06:53] niyari opened #142 "Plans for Splatoon 3"
If the Splatoon3 web app comes out with the same specifications as Splatnet2 (イカリング2), do plan to support it?
Or will a different one be created anew?

[2022-08-01 12:24] frozenpandaman commented on #142
Great question @niyari! I've been thinking about this recently and discussing it with others involved with this project as well. When Splatoon 3 comes out, I will start a new "**s3s**" repository for use with the game! The codebase will certainly be heavily based on this one, but the repo will be started from scratch and the two programs/scripts will be maintained independently.

One big differenc

[2022-08-02 09:30] #142 closed

[2022-08-02 16:58] niyari commented on #142
We were hoping to have a mode that would allow us to monitor battle records and salmon run records at the same time.
We thought the timing for this would be before the development became active.
By the way, I also like the name "splatnet to(2) statink".　:)

[2022-08-04 04:32] frozenpandaman commented on #142
@niyari I will keep that in mind for s3s, and will aim to make that possible! Thank you for the heads up, that's super helpful. Is this because you run the script as a daemon (in the background constantly) and you don't know which type of battles you'll be playing, and so this way you can run just one instance of it instead of two?

Salmon Run support was not added into SplatNet 2/Nintendo Switch

[2022-08-12 21:56] frozenpandaman commented on #142
https://github.com/JoneWang/imink/wiki/imink-API-Documentation

[2022-08-17 12:53] okuRaku commented on #142
Not sure if this is the right place to give a 👋 or the new s3s repo, but anyway wanted to say HELLO and 久しぶり ^^;  I'm excited for Splatoon 3 as well and potentially using or contributing whatever new tools are active!  Happy to see this one is still active, though sad to see SquidTracks seems to have idled for a long time now.

[2022-08-23 22:07] Jetsurf opened #143 "9599 - Unexpected Error - On Login/Account step"
Hello again!

This is more of a heads up. My project was starting to pick up errors on game service token creation, so in the troubleshooting of that, I tested with this project again.

Seems something has changed in the call to https://api-lp1.znc.srv.nintendo.net/v3/Account/Login as it's now throwing the error in the title. -SNIP: See edit-

We're still digging into the issue for our project, an

[2022-08-23 22:57] samuelthomas2774 commented on #143
Nintendo managed to break everything because they now seem to be validating the `timestamp` parameter. For iOS it should be the timestamp in seconds as splatnet2statink and as far as I know everyone else does, but for Android it should be in milliseconds. What I think has changed is that it now needs to exactly match the time on the device used to generate the `f` parameter (which itself hasn't ch

[2022-08-23 23:08] Jetsurf commented on #143
That makes sense! Thanks for the update. I'm actually splitting my project into a python library similar to nxapi, so you'll see me in there shortly!

[2022-08-24 04:37] Adrthegamedev commented on #143
Yeah, I've been noticing this as well since the latest update; hope it'll get fixed here!

[2022-08-24 09:35] frozenpandaman commented on #143
Apologies for my late reply (start of the school semester!) – thanks for that info, @samuelthomas2774. :)

As of v1.8.0 (8cec959) splatnet2statink is now using the imink API (fyi, I'll be using this for [**`s3s`**](https://github.com/frozenpandaman/s3s) too), and to my knowledge it's yet to be updated in the way that will automatically fix this issue. @JoneWang has posted a temporary workaround at

[2022-08-24 09:42] frozenpandaman commented on #143
Apologies for my late reply (start of the school semester!) – thanks for that info, @samuelthomas2774. :)

As of v1.8.0 (8cec959) splatnet2statink is now using @JoneWang's imink API (fyi, I'll be using this for [**`s3s`**](https://github.com/frozenpandaman/s3s) too), but it's yet to be updated in the "best" way to fix this issue (by actually returning the timestamp along with `f` tokens as needed)

[2022-08-24 09:53] #143 closed

[2022-08-24 22:37] OctoFloofy opened #145 "splatnet2statink on android"
Hello, i got the program to work on Android! It just behaves like it would on PC. Would you be interested in installation instructions?

[2022-08-24 22:47] frozenpandaman commented on #145
@OctoFloofy Sure, I'd definitely be interested in learning more about your setup! Sounds interesting, thanks!

[2022-08-25 13:20] frozenpandaman commented on #143
FYI, in case it helps in the future, all error codes are listed here: https://github.com/samuelthomas2774/nxapi/blob/main/src/api/coral-types.ts#L13-L54

[2022-08-25 21:13] frozenpandaman commented on #142
Hi @JMHAVANCE!

We'll be using the imink API in s3s (just as splatnet2statink uses as of recent, since v1.8.0). No reason to reinvent the whee,l and @JoneWang who runs that is super on top of it (and I think a lot better set up for it than I am). :)

This is one way (or just using Android 5.x or 6.x, before certificate pinning was added, or iOS which still allows this). Another is just by allowing

[2022-08-25 21:18] frozenpandaman commented on #142
Thanks for the kind words, @okuRaku – and hey! (I indeed remember your username :D )

---

Hi @JMHAVANCE!

We'll be using the imink API in s3s (just as splatnet2statink uses as of recent, since v1.8.0). No reason to reinvent the whee,l and @JoneWang who runs that is super on top of it (and I think a lot better set up for it than I am). :)

This is one way (or just using Android 5.x or 6.x, before

[2022-08-25 23:21] Dogey11 opened #146 "What is the license for this app?"
Hi! Am I allowed to borrow some of the code for a project? Specifically the Nintendo login part.

[2022-08-25 23:43] frozenpandaman commented on #146
Hi! The license is specified at the end of the readme (albeit not in a standalone file so it's a bit harder to spot). It's GPLv3, i.e. please give attribution or a link back to this project, and release your code under the same terms, but feel free to use the code/logic as needed. :)

Thanks!

[2022-08-25 23:43] #146 closed

[2022-08-26 00:05] OctoFloofy commented on #145
Its actually pretty easy, unfortunately i did the setup yesterday and dont remember the exact steps and commands anymore but it progresses easily anyways.

First you want to install Termux: https://f-droid.org/packages/com.termux/
Don't install the Play Store version as its outdated.
Then you install git within termux with the following command: `pkg install git`
Also install python with `pkg inst

[2022-08-26 00:36] frozenpandaman commented on #145
Yup, that makes sense & was pretty much all I was wondering. :) splatnet2statink should run on the command line with any shell on any operating system – so this includes terminal emulators on Android. I'm guessing that most people who want to do this can figure out how to access the command line on their phones instead of computer, but maybe it's worth explicitly calling out for s3s.

Thanks!

[2022-08-26 00:36] #145 closed

[2022-09-27 06:19] Asteroidxx opened #147 "how to change scope in authorize url"
when I want to change scope for get more user inforamtion, I can't open the url.

[2022-09-27 06:28] frozenpandaman commented on #147
Hi, sorry, what do you mean? I need more information as to what your issue is or what you're wanting to do.

[2022-09-27 07:40] Asteroidxx commented on #147
Thank you,I have solved the problem.

[2022-09-27 07:51] Asteroidxx commented on #147
Thank you,I have solved the problem.
Now I had get 'access_token' and 'id_token' from request "https://accounts.nintendo.com/connect/1.0.0/api/token"，I use them to request "mypage-api.entry.nintendo.co.jp/api/v1/users/me/play_histories" for get user's history game, but I get a response value of "The Token could not be parsed".

[2022-09-27 13:49] #147 closed

[2022-09-27 13:50] frozenpandaman commented on #147
Sorry, I don't think this is s2s-related. I can point you to further resources if you're interested in other NSO app functions and endpoints.

[2022-09-28 02:54] Asteroidxx commented on #147
Thank you! I want to know about them.

[2022-09-28 02:59] frozenpandaman commented on #147
@Asteroidxx Checking out these repos & discussions should help:

https://github.com/samuelthomas2774/nxapi
https://github.com/samuelthomas2774/nxapi/discussions/10
https://github.com/ZekeSnider/NintendoSwitchRESTAPI

[2022-09-28 09:25] Asteroidxx commented on #147
Thanks！ It will help me a lot.